{% macro fields(fields) %}

    <div class="grid grid-cols-6 gap-6">

        {% for field in fields %}

            <div
                    {% if field.vars['width'] is defined and '1/3' in field.vars['width']|split('|') %}
                        class="col-span-2"
                    {% elseif field.vars['width'] is defined and '1/2' in field.vars['width']|split('|') %}
                        class="col-span-3"
                    {% elseif field.vars['width'] is defined and '2/3' in field.vars['width']|split('|') %}
                        class="col-span-4"
                    {% else %}
                        class="col-span-6"
                    {% endif %}
            >
                {{ form_row(field) }}
            </div>

        {% endfor %}

    </div>

{% endmacro %}

{{ form_start(form) }}

        {% set fieldsets = form.children|map(
            f => f.vars['fieldset_group'] is defined ? "#{f.vars['fieldset_group']}" : null)|reduce(
            (unique, item) => not item or item in unique ? unique : unique|merge([item]), []
            ) %}

<div class="space-y-6 divide-y divide-gray-200">

    {% for fieldset in fieldsets %}


        <div>

            <div class="mt-6 mb-6">
                <h2 class="text-xl font-medium text-gray-900">{{ form.vars.label_format|replace({'label.': '', '%name%': "legend.#{fieldset}.0"})|trans({}, 'admin') }}</h2>

                {% if form.vars.label_format|replace({'label.': '', '%name%': "legend.#{fieldset}.1"})|trans({}, 'admin') != form.vars.label_format|replace({'label.': '', '%name%': "legend.#{fieldset}.1"}) %}
                    <p class="mt-1 text-sm text-gray-500">{{ form.vars.label_format|replace({'label.': '', '%name%': "legend.#{fieldset}.1"})|trans({}, 'admin') }}</p>
                {% endif %}
            </div>

            {{ _self.fields(form.children|filter(f => f.vars['fieldset_group'] is defined and fieldset == f.vars['fieldset_group'])) }}

        </div>

    {% else %}

        {{ _self.fields(form.children|filter(f => f.vars.name != 'submit')) }}

    {% endfor %}

    {% if form.submit is defined %}

        <div class="pt-6 flex space-x-4">
            {{ form_row(form.submit) }}

            {% if form.delete is defined %}
                {{ form_row(form.delete) }}
            {% endif %}

        </div>

    {% endif %}


</div>

{{ form_end(form) }}
