<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{{ title|default }}</title>

    <meta name="robots" content="noindex,follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ asset('favicon/apple-touch-icon.png', 'ferienpass_core') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ asset('favicon/favicon-16x16.png', 'ferienpass_core') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ asset('favicon/favicon-16x16.png', 'ferienpass_core') }} ?>">
    <link rel="manifest" href="{{ asset ('favicon/site.webmanifest', 'ferienpass_core') }}">
    <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg', 'ferienpass_core') }}"
          color="#209bc9">
    <link rel="shortcut icon" href="{{ asset('favicon/favicon.ico', 'ferienpass_core') }}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="{{ asset('favicon/browserconfig.xml', 'ferienpass_core') }}">
    <meta name="theme-color" content="#209bc9">

    <link rel="stylesheet" href="{{ asset ('css/admin.tailwind.css') }}">

    {{ importmap('admin') }}

    {{ head|default }}
</head>

<body class="bg-gray-50 dark:bg-gray-950/95">

{% block body %}

    {% if 'staging' == app.environment %}
        <div class="bg-red-600 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
            <p class="text-sm leading-6 text-white text-center">
                <strong class="font-semibold">Sie befinden sich auf dem Staging-Server.</strong> Änderungen werden nicht
                beibehalten.
            </p>
        </div>
    {% endif %}

    {% if is_granted('IS_IMPERSONATOR') %}
        <div class="flex items-center gap-x-6 bg-yellow-600 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
            <p class="text-sm leading-6 text-white">
                <strong class="font-semibold">Sie sind angemeldet als {{ app.user.userIdentifier }}.</strong>
            </p>
            <div class="flex flex-1 justify-end">
                <a href="{{ impersonation_exit_path(path('admin_accounts_index')) }}"
                   class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
                    <span class="sr-only">Dismiss</span>
                    <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"/>
                    </svg>
                </a>
            </div>
        </div>
    {% endif %}

    {% include '@FerienpassCore/Page/_flash_banners.html.twig' %}



    <header>
        {% include '@FerienpassAdmin/layout/_header.html.twig' %}
    </header>

    {% block container %}

        <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">

            {% include '@FerienpassAdmin/layout/_breadcrumb.html.twig' %}

            {% include '@FerienpassCore/Page/_flashes.html.twig' %}

            {% block content %}

                <main class="py-6">
                    {% block main %}{% endblock %}
                </main>

            {% endblock %}

        </div>

    {% endblock %}

    <footer>
        {% include '@FerienpassAdmin/layout/_footer.html.twig' %}
    </footer>

    {% include '@FerienpassCore/Page/_flash_modals.html.twig' %}

{% endblock %}

</body>

</html>
