<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{{ title|default }}</title>

    <meta name="robots" content="noindex,follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ asset('favicon/apple-touch-icon.png', 'ferienpass_core') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ asset('favicon/favicon-16x16.png', 'ferienpass_core') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ asset('favicon/favicon-16x16.png', 'ferienpass_core') }} ?>">
    <link rel="manifest" href="{{ asset ('favicon/site.webmanifest', 'ferienpass_core') }}">
    <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg', 'ferienpass_core') }}"
          color="#209bc9">
    <link rel="shortcut icon" href="{{ asset('favicon/favicon.ico', 'ferienpass_core') }}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="{{ asset('favicon/browserconfig.xml', 'ferienpass_core') }}">
    <meta name="theme-color" content="#209bc9">

    {{ importmap('admin') }}

    {{ head|default }}
</head>

<body class="bg-gray-50 dark:bg-gray-950/95">

{% block body %}

    {% include '@FerienpassCore/Page/_flash_banners.html.twig' %}

    <header>
        {% include '@FerienpassAdmin/layout/_header.html.twig' %}
    </header>

    {% block container %}

        <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">

            {% include '@FerienpassAdmin/layout/_breadcrumb.html.twig' %}

            {% include '@FerienpassCore/Page/_flashes.html.twig' %}

            {% block content %}

                <main class="py-6">
                    {% block main %}{% endblock %}
                </main>

            {% endblock %}

        </div>

    {% endblock %}

    <footer>
        {% include '@FerienpassAdmin/layout/_footer.html.twig' %}
    </footer>

    {% include '@FerienpassCore/Page/_flash_modals.html.twig' %}

{% endblock %}

</body>

</html>
