---
bodyClass: bg-gray-postmark-lighter
---

<extends src="src/layouts/master.html">
    <block name="template">
        <table class="email-wrapper w-full bg-gray-postmark-lighter font-sans">
            <tr>
                <td align="center">
                    <table class="email-content w-full">
                        <component src="src/components/header.html"></component>
                        <raw>
                            <tr>
                                <td class="email-body w-full">
                                    <table align="center" class="email-body_inner w-570 bg-white mx-auto sm:w-full">
                                        <tr>
                                            <td class="p-45">
                                                <div class="text-base">
                                                    <h1 class="mt-0 text-2xl font-bold text-left text-gray-postmark-darker">
                                                        Erinnerung an Ferienpass-Angebot</h1>
                                                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                                                        Es ist bald soweit und {{ participant.firstname }} nimmt am
                                                        folgenden Angebot teil.</p>

                                                    <table align="center" class="w-full p-24 bg-gray-postmark-lightest">
                                                        {% import "@FerienpassCore/Macro/offer.html.twig" as offer_macro %}
                                                        <tr>
                                                            <td align="center">
                                                                <h2 class="mt-0 mb-2 text-xl text-center font-bold text-gray-postmark-darker">{{ offer.name }}</h2>
                                                                <p class="mt-0 text-xs text-center text-gray-postmark-dark">
                                                                    Veranstalter: {{ offer.hosts|map(h => h.name)|join(', ') }}</p>
                                                                <div class="mt-6 mb-20">
                                                                    <p class="mt-0 mb-0 text-base leading-24 text-center text-gray-postmark-dark">
                                                                        <span class="font-medium">Beginn:</span> {{ offer_macro.date_single(offer.dates|first) }}
                                                                    </p>
                                                                    <p class="mt-0 mb-0 text-base leading-24 text-center text-gray-postmark-dark">
                                                                        <span class="font-medium">Treffpunkt:</span>
                                                                        {{ offer.meetingPoint }}</p>
                                                                    {% if offer.bring %}
                                                                        <p class="mt-0 mb-0 text-base leading-24 text-center text-gray-postmark-dark">
                                                                            <span class="font-medium">Bitte mitbringen:</span>
                                                                            {{ offer.bring }}</p>
                                                                    {% endif %}
                                                                    <p class="mt-0 mb-0 text-base leading-24 text-center text-gray-postmark-dark">
                                                                        <span class="font-medium">Teilnahmegebühr:</span> {{ (participant.discounted ? offer.fee/2 : offer.fee)/100 }}
                                                                        &euro;</p>
                                                                </div>

                                                                {% if offer.requiresAgreementLetter %}
                                                                    <p class="mb-2">
                                                                        <span class="mt-2 rounded bg-yellow-100 border-l-8 border-r-8 border-t-4 border-b-4 border-solid border-yellow-100">
                                                                            <span class="text-sm mt-0 mb-0 leading-5 text-yellow-700">Bitte Einverständniserklärung mitgeben.</span>
                                                                        </span>
                                                                    </p>
                                                                    <p class="mt-0 mb-20 leading-24 text-center text-gray-postmark-dark text-xs">
                                                                        Download unter:
                                                                        <a href="{{ baseUrl ~ '/' ~ offer.id }}"
                                                                           class="text-gray-postmark-dark underline">{{ baseUrl ~ '/' ~ offer.id }}</a>
                                                                    </p>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    <p class="mt-20 mb-20 text-base leading-24 text-gray-postmark-dark">
                                                        {{ email_text|nl2br }}</p>

                                                    {% if link|default %}
                                                        <table align="center" class="w-full text-center my-30 mx-auto">
                                                            <tr>
                                                                <td align="center">
                                                                    <table class="w-full">
                                                                        <tr>
                                                                            <td align="center" class="text-base">
                                                                                <a href="{{ link }}"
                                                                                   class="button button--blue"
                                                                                   target="_blank">Anmeldungen
                                                                                    einsehen</a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    {% endif %}

                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </raw>
                        <component src="src/components/footer.html"></component>
                    </table>
                </td>
            </tr>
        </table>
    </block>
</extends>
