{% extends "@FerienpassAdmin/layout/list.html.twig" %}

{% set config = {
    columns: {
        offer: '{{ item.offer.name }}',
        date: '
{% import "@FerienpassCore/Macro/offer.html.twig" as offer_macro %}
{% if item.offer.dates is not empty %}
  {{ offer_macro.date_single(item.offer.dates|first) }}
{% else %}
  Dauerangebot
{% endif %}
',
        fee: '
{% if not item.participant.discounted %}
        {{ (item.offer.fee/100)|format_currency("EUR", locale="de") }}
{% else %}
        <del class="inline line-through">{{ (item.offer.fee/100)|format_currency("EUR", locale="de") }}</del>
        <span>{{ ((item.offer.fee >= 200 ? (item.offer.fee/2) : item.offer.fee)/100)|format_currency("EUR", locale="de") }}</span>
{% endif %}
',
        status: '
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}

{{ partials.status_badge(item.status, "sm", "-ml-2") }}
',
        paid: '
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}

{% if item.paid %}
    {{ partials.badge_green("payments.status.paid", "sm", "-ml-2") }}
{% else %}
    {{ partials.badge_gray("payments.status.unpaid", "sm", "-ml-2") }}
{% endif %}
'
    }
} %}

{% block headline_actions %}

    <div class="flex items-center space-x-3">

        {{ parent() }}

        <twig:Admin:Dropdown dropdownClass="w-96">
            <twig:block name="toggle">
                <span class="relative shadow-sm inline-flex px-4 py-2 items-center border border-transparent text-sm leading-5 font-medium rounded-md focus:outline-none focus:shadow-outline-blue border-transparent text-white bg-primary-600 hover:bg-primary-500 focus:border-primary-700 active:bg-primary-700">
                    <span class="flex items-center space-x-1 -mr-2">
                        <span class="h-5 w-5">{{ source('@FerienpassAdmin/icons/plus-solid.svg') }}</span>
                        <span>Neu anlegen…</span>
                        <span class="h-5 w-5">{{ source('@FerienpassAdmin/icons/chevron-down-solid.svg') }}</span>
                    </span>
                </span>
            </twig:block>

            <twig:block name="dropdown">
                <div class="px-4 py-2">
                    {{ component('Admin:AddAttendance', { participant: participant }) }}
                </div>
            </twig:block>
        </twig:Admin:Dropdown>

    </div>

{% endblock %}
