{% use "form_div_layout.html.twig" %}

{% block text_widget %}
    {%- set type = type|default('text') -%}
    {{ block('form_widget_simple') }}
{% endblock %}

{% block password_widget %}
    {%- set type = type|default('password') -%}
    {{ block('form_widget_password') }}
{% endblock %}

{% block email_widget %}
    {%- set type = type|default('email') -%}
    {{ block('form_widget_email') }}
{% endblock %}

{% block money_widget %}
    <div class="relative rounded-md shadow-sm">
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <span class="text-gray-500 sm:text-sm">€</span>
        </div>

        <input type="{{ type|default('number') }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}
               class="block pl-7"
               placeholder="0,00"/>
    </div>
{% endblock %}

{% block choice_widget %}
    {%- set attr = attr|merge({class: (attr.class|default('w-full'))|trim}) -%}
    {{- parent() -}}
{% endblock %}

{% block filter_age_widget %}
    {%- set type = type|default('number') -%}
    {{ block('form_widget_age') }}
{% endblock %}

{% block filter_host_widget %}
    {# {%- set attr = attr|merge({'x-data': '{}', 'x-init': "new Choices($el, { #}
    {# classNames: { #}
    {# } #}
    {# })"}) -%} #}
    {{ block('choice_widget') }}
{% endblock %}

{% block filter_date_widget %}
    <div>
        <div class="rounded-md shadow-sm flex">
            <div class="relative">
                <div class="absolute inset-y-0 left-0 pl-2 flex items-center pointer-events-none z-20">
                    <span class="text-gray-500 w-5 h-5 z-10">{% include '@FerienpassCore/Icons/calendar.svg.twig' %}</span>
                </div>
                {% set id = form.from.vars.id %}
                {% set full_name = form.from.vars.full_name %}
                {% set value = form.from.vars.value %}
                <input type="text"
                        {{ block('widget_attributes') }}
                        {% if value is not empty %}value="{{ value }}" {% endif %}
                       aria-label="frühstes Datum"
                       class="form-input block w-full sm:text-sm sm:leading-5 pl-8 pr-3 rounded-none rounded-l-md relative focus:z-10"
                       autocapitalize="off"
                       placeholder="frühstes Datum"
                       x-ref="inputBegin">
            </div>
            <div class="relative -ml-px">
                {% set id = form.to.vars.id %}
                {% set full_name = form.to.vars.full_name %}
                {% set value = form.to.vars.value %}
                <input type="text"
                        {{ block('widget_attributes') }}
                        {% if value is not empty %}value="{{ value }}" {% endif %}
                       aria-label="spätestes Datum"
                       class="form-input block w-full sm:text-sm sm:leading-5 px-3 rounded-none rounded-r-md relative focus:z-10"
                       placeholder="spätestes Datum"
                       x-ref="inputEnd">
            </div>
        </div>
    </div>

{% endblock %}

{% block button_widget -%}
    <span class="{{ ('inline-flex rounded-md shadow-sm ' ~attr.class|default(''))|trim }}">
        {%- set attr = attr|merge({class: ('inline-flex justify-center items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-primary-600 hover:bg-primary-500 focus:outline-none focus:border-primary-700 focus:shadow-outline-primary active:bg-primary-700 transition ease-in-out duration-150 ' ~ attr.class|default(''))|trim}) -%}
        {{- parent() -}}
    </span>

{%- endblock button_widget %}

{%- block form_widget_simple -%}
    {% if type is defined and not type == 'hidden' %}
        <div class="mt-1">
            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock form_widget_simple -%}

{%- block form_widget_age -%}
    <div class="mt-1 relative rounded-md shadow-sm">
        <input type="{{ type }}" {{ block('widget_attributes') }} {{ block('widget_attributes') }}
               class="{{ block('input_class') }}"
                {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
            <span class="text-gray-500 sm:text-sm sm:leading-5" id="price-currency">Jahre</span>
        </div>
    </div>
{%- endblock form_widget_age -%}

{%- block form_widget_email -%}
    {% macro exclamation() %}
        <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
            <span class="h-5 w-5 text-red-500 block">{% include '@FerienpassCore/Icons/exclamation-circle-solid.svg.twig' %}</span>
        </div>
    {% endmacro %}

    <div x-data="{ validEmail: null }">
        <div class="mt-1 rounded-md shadow-sm relative">
            <input type="{{ type }}"
                   id="{{ id }}"
                   name="{{ full_name }}"
                   x-on:change="validEmail = !!isValidEmailAddress($event.target.value)"
                    {% if form.vars.errors|length %}
                        class="appearance-none block w-full px-3 py-2 border rounded-md placeholder-gray-400 focus:outline-none transition duration-150 ease-in-out sm:text-sm sm:leading-5 border-red-300 text-red-900 focus:shadow-outline-red"
                    {% else %}
                        class="appearance-none block w-full px-3 py-2 border rounded-md placeholder-gray-400 focus:outline-none transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                        :class="{ 'border-red-300 text-red-900 focus:shadow-outline-red': validEmail === false, 'border-gray-300 focus:shadow-outline-blue focus:border-blue-300': validEmail !== false }"
                    {% endif %}
                    {% if value is not empty %}value="{{ value }}" {% endif %}
                    {% if required|default %}required {% endif %}/>
            {% if form.vars.errors|length %}
                {{ _self.exclamation() }}
            {% else %}
                <template x-if="validEmail === false">
                    {{ _self.exclamation() }}
                </template>
            {% endif %}
        </div>
        <template x-if="validEmail === false">
            <p class="mt-2 text-sm text-red-600">Das ist keine gültige E-Mail-Adresse.</p>
        </template>
    </div>
{%- endblock form_widget_email -%}

{%- block form_widget_password -%}
    <div class="mt-1 rounded-md shadow-sm relative" x-data="{ conceal: true }">
        <input type="{{ type }}"
               :type="conceal ? 'password' : 'text'"
               id="{{ id }}"
               name="{{ full_name }}"
               class="{{ block('input_class') }}"
               {% if value is not empty %}value="{{ value }}" {% endif %}
                {% if required is defined %}required {% endif %}/>
        <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
            <button type="button"
                    class="text-gray-500 font-medium text-sm hover:text-gray-700 transition duration-150 ease-in-out"
                    @click="conceal = !conceal"
                    x-text="conceal ? 'Zeigen' : 'Verbergen'"></button>
        </div>
    </div>

{%- endblock form_widget_password -%}

{%- block toggle_widget -%}
    <div class="" x-data="{ checked: !!{{ checked ? '1' : '0' }} }">
        <input type="hidden" {{ block('widget_attributes') }} :value="checked ? '1' : '0'">
        <div class="flex items-center">
        <span role="checkbox"
              :aria-checked="checked ? 'true' : 'false'"
              @click="checked = !checked"
              :class="{ 'bg-primary-600' : checked, 'bg-gray-200': !checked }"
              class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:shadow-outline"
              tabindex="0">
            <span aria-hidden="true"
                  :class="{ 'translate-x-5' : checked, 'translate-x-0': !checked }"
                  class="translate-x-0 inline-block h-5 w-5 rounded-full bg-white shadow transform transition ease-in-out duration-200"></span>
            </span>
            <label class="pl-2 text-sm font-medium leading-5 text-gray-700 dark:text-gray-50">{{ label }}</label>
        </div>
    </div>
{%- endblock toggle_widget -%}

{%- block checkbox_widget -%}
    <div class="flex items-center">
        <input type="checkbox"
               class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />

        <label class="ml-3 block text-sm font-medium text-gray-700 dark:text-gray-200"
               for="{{ id }}">{{- label|trans(label_translation_parameters, translation_domain ?: null)|raw -}}</label>
    </div>

{%- endblock checkbox_widget -%}

{% block form_label -%}
    {% if 'checkbox' not in block_prefixes %}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ 'mb-1 block text-sm font-medium leading-5 text-gray-700 dark:text-gray-50')|trim}) -%}
        {{- parent() -}}
    {% endif %}
{%- endblock form_label %}

{% block form_help -%}
    {% if form.vars.errors|length < 1 %}
        {%- set help_attr = help_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ 'mt-1 text-sm text-gray-500 dark:text-gray-400')|trim}) -%}
        {{- parent() -}}
    {% endif %}
{%- endblock form_help %}

{% block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
        {{ form_errors(form) }}
    </div>
{%- endblock form_row %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {% if compound %}
            {# display the global form errors #}
            <div class="mb-6">
                {% embed '@FerienpassCore/Alert/error.html.twig' with {headline: 'Ein Fehler sind aufgetreten'} %}
                    {% block content %}
                        <ul class="list-disc space-y-1">
                            {%- for error in errors -%}
                                <li>{{ error.message }}</li>
                            {%- endfor -%}
                        </ul>
                    {% endblock %}
                {% endembed %}
            </div>
        {% else %}
            {%- for error in errors -%}
                <p class="mt-1 text-sm text-red-600">{{ error.message }}</p>
            {%- endfor -%}
        {% endif %}
    {%- endif -%}
{%- endblock form_errors -%}


{% block input_class -%}
    {% if form.vars.errors|length %}border-red-300 text-red-900 focus:shadow-outline-red{% else %}border-gray-300 focus:shadow-outline-blue focus:border-blue-300{% endif %} appearance-none block w-full px-3 py-2 border rounded-md placeholder-gray-400 focus:outline-none transition duration-150 ease-in-out sm:text-sm sm:leading-5
{% endblock input_class -%}

{% block custom_button_class -%}
    bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline
{% endblock custom_button_class -%}
