{% extends "@FerienpassAdmin/layout/2col.html.twig" %}
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}

{% block main %}

    {{ partials.h1('notifications.headline'|trans) }}
    {% set label = 'notification.'~notification.type~'.0' %}
    {{ partials.h2(label|trans) }}

    {{ form_start(form) }}
    <div class="space-y-12 sm:space-y-16">
        <div>
            {% set label = 'notification.'~notification.type~'.1' %}
            <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-600">{{ label|trans }}</p>

            <div class="mt-10 space-y-10 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
                <fieldset>
                    <legend class="sr-only">{{ 'notifications.by_email'|trans }}</legend>
                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:py-6">
                        <div class="text-sm font-semibold leading-6 text-gray-900"
                             aria-hidden="true">{{ 'notifications.by_email'|trans }}</div>
                        <div class="mt-4 sm:col-span-2 sm:mt-0">
                            <div class="max-w-lg space-y-6">

                                {{ form_row(form.emailSubject) }}
                                {{ form_row(form.emailText) }}

                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="sr-only">{{ 'notifications.by_sms'|trans }}</legend>
                    <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4 sm:py-6">
                        <div class="text-sm font-semibold leading-6 text-gray-900"
                             aria-hidden="true">{{ 'notifications.by_sms'|trans }}</div>
                        <div class="mt-1 sm:col-span-2 sm:mt-0">
                            <div class="max-w-lg">
                                <div class="mt-6 space-y-6">
                                    {{ form_row(form.smsText) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
        {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}


    <div class="mt-6">
        {% embed '@FerienpassAdmin/components/content_tabs.html.twig' with { tabs: ['email', 'sms'] } %}

            {% block tab_email %}

                <div x-data=""
                     class="bg-gray-300 pointer-events-none"
                     x-init="$refs.shadow.attachShadow({mode: 'open'}); $refs.shadow.shadowRoot.appendChild( $refs.template.content.cloneNode(true) )">
                    <div class="transform scale-90">
                        <article x-ref="shadow"></article>
                    </div>

                    <template x-ref="template">
                        {% include '@FerienpassCore/Email/'~notification.type~'.html.twig' %}
                    </template>

                </div>

            {% endblock %}

            {% block tab_sms %}

                23

            {% endblock %}

        {% endembed %}
    </div>



{% endblock %}
