{%- block _edit_edition_tasks_entry_row -%}

    <div class="mt-10 relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex items-center justify-between">
            <h2 class="bg-gray-50 dark:bg-gray-950/95 pr-3 text-xl font-medium leading-6 text-gray-900 dark:text-gray-100/90">
                {{ data.type == 'custom' ? data.title : "editions.task.#{data.type}"|trans([], 'admin') }}
            </h2>

            {%- if button_delete is defined and not button_delete.rendered -%}
                {{ form_widget(button_delete) }}
            {%- endif -%}

        </div>
    </div>

    {{ block('form_row') }}

{%- endblock -%}

{%- block _edit_offer_categories_categories_entry_row -%}

    <div class="mt-10 relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex items-center justify-between">
            <h2 class="bg-gray-50 dark:bg-gray-950/95 pr-3 text-xl font-medium leading-6 text-gray-900 dark:text-gray-100/90">
                {{ data is not null ? data.name : 'Neue Kategorie' }}
            </h2>

            {%- if button_delete is defined and not button_delete.rendered -%}
                {{ form_widget(button_delete) }}
            {%- endif -%}

        </div>
    </div>

    {{ block('form_row') }}

{%- endblock -%}

{%- block _edit_offer_dates_entry_row -%}

    <div class="mt-10 relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex items-center justify-between">
            <h2 class="bg-gray-50 dark:bg-gray-900 pr-3 text-xl font-medium leading-6 text-gray-900">

            </h2>

            {%- if button_delete is defined and not button_delete.rendered -%}
                {{ form_widget(button_delete) }}
            {%- endif -%}

        </div>
    </div>

    {{ block('form_row') }}

{%- endblock -%}

{% block live_collection_button_delete_widget %}

    <button type="{{ type|default("button") }}" {{ block('button_attributes') }}
            class="inline-flex items-center gap-x-1.5 rounded-full bg-white px-3 py-1.5 text-sm text-red-800 font-medium shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        <span class="-ml-1 -mr-0.5 h-5 w-5">{{ source('@FerienpassAdmin/icons/trash-solid.svg') }}</span>
        <span>{{ label_format|replace({'label.': '', '%name%': unique_block_prefix[1:]})|trans({}, 'admin') }}</span>
    </button>

{% endblock live_collection_button_delete_widget %}

{% block live_collection_button_add_widget %}

    <div class="mt-10 relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
            <button type="{{ type|default('button') }}" {{ block('button_attributes') }}
                    class="inline-flex items-center gap-x-1.5 rounded-full bg-white px-3 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                <svg class="-ml-1 -mr-0.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                     aria-hidden="true">
                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
                </svg>
                {{ label_format|replace({'label.': '', '%name%': unique_block_prefix[1:]})|trans({}, 'admin') }}
            </button>
        </div>
    </div>

{% endblock live_collection_button_add_widget %}


{% block estimated_expense_widget %}
    <div class="grid grid-cols-3 gap-4">
        {% for widget in form.children %}
            {{ form_row(widget) }}
        {% endfor %}
    </div>
{% endblock estimated_expense_widget %}

{% block postal_address_row %}

    {{ form_row(form.street) }}

{% endblock %}

{% block ms_submit_widget %}

    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- elseif label is not same as(false) -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}

    <button type="{{ type|default('submit') }}"
            class="inline-flex items-center gap-x-0.5 rounded-md bg-white px-2.5 py-1.5 text-sm font-medium text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
            {{ block('button_attributes') }}>

        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}

    </button>

{% endblock %}

{% block __participant_add_attendance_status_widget %}

    <input type="hidden"
           id="{{ form.vars.id }}"
           name="{{ form.vars.full_name }}"/>

    <div class="flex space-x-3">
        <button type="button"
                @click="status='confirmed'"
                :class="{'bg-green-100 ring-green-600 ring-2': 'confirmed' === status}"
                class="focus:outline-none inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-green-50 hover:bg-green-100 text-green-800">
            angemeldet
        </button>
        <button type="button"
                :class="{'bg-yellow-100 ring-yellow-600 ring-2': 'waitlisted' === status}"
                @click="status='waitlisted'"
                class="focus:outline-none inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-yellow-50 hover:bg-yellow-100 text-yellow-800">
            Warteliste
        </button>
        <button type="button"
                @click="status='waiting'"
                :class="{'bg-gray-100 ring-gray-500 ring-2': 'waiting' === status}"
                class="focus:outline-none inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-gray-50 hover:bg-gray-100 text-gray-800">
            wartend
        </button>
    </div>
{% endblock %}

{% block _offers_filter_status_widget %}

    <div {{ block('widget_container_attributes') }} class="flex items-center space-x-2">
        {%- for child in form %}
            {{- form_widget(child, { attr: { class: 'hidden' } }) -}}

            <label for="{{ child.vars.id }}"
                   class="leading-0 p-.5 bg-gray-50 {{ child.vars.data ? 'ring-2 ring-pink-500 ring-offset-2' : 'ring-2 ring-gray-50 ring-offset-2' }} rounded hover:bg-gray-100 cursor-pointer">


                {% if "cancelled" == child.vars.value %}
                    <span class="leading-0"
                          aria-label="{{ ("offers.status."~child.vars.value)|trans([], "admin") }}"><span
                                title="{{ ("offers.status."~child.vars.value)|trans([], "admin") }}" aria-hidden="true"
                                class="text-red-600 inline-block w-8 h-8">{{ source("@FerienpassAdmin/icons/x-circle.solid.svg") }}</span></span>
                {% elseif "draft" == child.vars.value %}
                    <span class="leading-0"
                          aria-label="{{ ("offers.status."~child.vars.value)|trans([], "admin") }}"><span
                                title="{{ ("offers.status."~child.vars.value)|trans([], "admin") }}" aria-hidden="true"
                                class="text-orange-600 inline-block w-8 h-8">{{ source("@FerienpassAdmin/icons/plus-circle.outline.svg") }}</span></span>
                {% elseif "completed" == child.vars.value %}
                    <span class="leading-0"
                          aria-label="{{ ("offers.status."~child.vars.value)|trans([], "admin") }}"><span
                                title="{{ ("offers.status."~child.vars.value)|trans([], "admin") }}" aria-hidden="true"
                                class="text-green-600 inline-block w-8 h-8">{{ source("@FerienpassAdmin/icons/check-circle.outline.svg") }}</span></span>
                {% elseif "reviewed" == child.vars.value %}
                    <span class="leading-0"
                          aria-label="{{ ("offers.status."~child.vars.value)|trans([], "admin") }}"><span
                                title="{{ ("offers.status."~child.vars.value)|trans([], "admin") }}" aria-hidden="true"
                                class="text-green-600 inline-block w-8 h-8">{{ source("@FerienpassAdmin/icons/shield-check.outline.svg") }}</span></span>
                {% elseif "published" == child.vars.value %}
                    <span class="leading-0"
                          aria-label="{{ ("offers.status."~child.vars.value)|trans([], "admin") }}"><span
                                title="{{ ("offers.status."~child.vars.value)|trans([], "admin") }}" aria-hidden="true"
                                class="text-green-600 inline-block w-8 h-8">{{ source("@FerienpassAdmin/icons/check-circle.solid.svg") }}</span></span>
                {% endif %}


            </label>

        {% endfor -%}
    </div>

{% endblock %}


{% block offer_image_widget %}

    {% if form.vars.image_uuid %}
        {{ contao_figure(form.vars.image_uuid, [200, 200, 'proportional'], {}) }}
    {% endif %}

{% endblock %}

