<style>
    @page {
        header: html_myHeader;
        footer: html_myFooter;
        margin-top: 4cm;
    }

    @page waitlist {
        header: html_myHeaderWaitlist;
    }

    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 14pt;
    }

    h2 {
        font-weight: bold;
        font-size: 16pt;
        margin: 0;
    }

    table.attendances {
        font-size: 10pt;
    }

    table.attendances td {
        padding: 5pt 6pt;
        border-bottom: 1px solid cmyk(0, 0, 0, 8);
        vertical-align: top;
    }

    table.attendances tr:nth-child(2n+1) {
        background-color: cmyk(0, 0, 0, 4);
    }
</style>

{% import "@FerienpassCore/Macro/offer.html.twig" as offer_macro %}

{% macro table(attendances, offer) %}
    <table class="attendances" cellspacing="0" cellpadding="0" style="width: 100%">
        {% for attendance in attendances -%}
            {% set participant = attendance.participant %}
            <tr>
                <td style="width:12pt;text-align:right;font-weight: bold; color: cmyk(0,0,0,70);font-size: 10pt">{{ loop.index }}</td>
                <td>
                    <p>
                        <span style="font-weight: bold">{{ participant.firstname ~' '~ participant.lastname }}</span>, {{ participant.age ?: '?' }}
                        Jahre
                    </p>
                    {% if participant.member %}
                        <p style="color: cmyk(0,0,0,70)">
                            <span style="font-weight: bold">Kontakt:</span> {{ participant.member.firstname ~ ' ' ~ participant.member.lastname }}
                        </p>
                    {% endif %}
                </td>
                <td style="color: cmyk(0,0,0,70)">
                    <p>
                        <span>T:</span>
                        <span>
                                {{ ((participant.phone ?: (participant.member and participant.member.phone ? participant.member.phone : '')) ~ ' / ' ~ (participant.mobile ?: (participant.member and participant.member.mobile ? participant.member.mobile : '')))|trim('/ ') }}
                            </span>
                    </p>
                    <p>
                        <span>E:</span>
                        <span>
                                {{ participant.email ?: (participant.member and participant.member.email ? participant.member.email : '-') }}
                            </span>
                    </p>
                </td>
                <td style="color: cmyk(0,0,0,70)">
                    <p>
                        Gebühr: {{ (participant.discounted ? offer.fee/2 : offer.fee)/100 }} €
                    </p>
                    <p>
                        {{ attendance.paid ? 'bezahlt' : 'nicht bezahlt' }}
                    </p>
                </td>
                <td style="width: 22%"></td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro header(headline, offer) %}
    <table width="100%" border="0">
        <tr>
            <td width="33%" style="color: cmyk(0,0,0,70); font-size: 9pt;">
                <p style="font-weight: bold">{{ offer.name }}</p>
                <p>ID {{ offer.id }}</p>
                <p>{{ offer_macro.date_combined(offer.dates) }}</p>
                <p>{{ 'min. ' ~ offer.minParticipants }} / {{ 'max. ' ~ offer.maxParticipants ~ ' TN' }}</p>
                <p>{{ 'zugelassen: ' ~ offer.attendancesConfirmed|length }}
                    / {{ 'wartend: ' ~ offer.attendancesWaitlisted|length ~ ' TN' }}</p>
            </td>
            <td width="33%" align="center" style="font-weight: bold;font-size: 12pt">{{ headline }}</td>
            <td width="33%" style="text-align: right;"></td>
        </tr>
    </table>
{% endmacro %}

<div>

    <htmlpageheader name="myHeader" style="display:none">
        {{ _self.header('Teilnahmeliste', offer) }}
    </htmlpageheader>

    <htmlpageheader name="myHeaderWaitlist" style="display:none">
        {{ _self.header('Warteliste', offer) }}
    </htmlpageheader>

    <htmlpagefooter name="myFooter" style="display:none">
        <table width="100%">
            <tr>
                <td width="50%" style="font-size: 8pt; color: cmyk(0,0,0,60)">Export: {DATE j.m.Y H:i}</td>
                <td width="50%" style="font-size: 8pt; color: cmyk(0,0,0,60);text-align: right;">Seite {PAGENO}/{nbpg}
                </td>
            </tr>
        </table>
    </htmlpagefooter>

    {% if offer.attendancesNotWithdrawn is empty %}
        <p>Es sind keine Anmeldungen vorhanden.</p>
    {% endif %}

    {% set attendances = offer.attendancesConfirmed|sort((a, b) => a.participant.lastname|default <=> b.participant.lastname|default) %}
    <div>
        {{ _self.table(attendances, offer) }}
    </div>

    {% set attendances = offer.attendancesWaitlisted %}
    {% if attendances|length %}
        <div style="page: waitlist; page-break-before: always;">
            {{ _self.table(attendances, offer) }}
        </div>

    {% endif %}
</div>
