{% trans_default_domain 'cms' %}

<div {{ attributes.defaults(stimulus_controller('ferienpass/cms-signin-login', { requestToken: contao_request_token(), targetPath: this.targetPath(app.request) })) }}>

    <div class="mx-auto w-full max-w-sm">
        <div>
            <p class="font-semibold leading-5 text-gray-600">Melden Sie sich mit Ihrer
                Benutzerkennung und Ihrem Passwort an.</p>
        </div>

        <div class="mt-8">

            {{ form_start(form, {
                attr: stimulus_action('ferienpass/cms-signin-login', 'submit:prevent').toArray()
            }) }}

            <div class="mt-6 mb-6 hidden" {{ stimulus_target('ferienpass/cms-signin-login', 'error') }}>
                {% embed '@FerienpassCore/Alert/error.html.twig' with {headline: 'Anmeldung fehlgeschlagen'} %}
                    {% block content %}
                        <ul class="list-disc">
                            <li>Überprüfen Sie nochmal Ihre E-Mail-Adresse und Ihr
                                Passwort.
                            </li>
                            <li class="mt-1">
                                Sind Sie neu hier und wollen Sie ein neues Konto
                                erstellen? Klicken Sie oben auf „Registrieren“.
                            </li>
                        </ul>
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="grid gap-4">
                {{ form_row(form.username, { attr: stimulus_target('ferienpass/cms-signin-login', 'username').toArray() }) }}
                {{ form_row(form.password, { attr: stimulus_target('ferienpass/cms-signin-login', 'password').toArray() }) }}
            </div>

            <div class="mt-6 flex items-center justify-between">

                <div class="flex items-center">
                    {{ form_row(form.autologin, { attr: stimulus_target('ferienpass/cms-signin-login', 'remember_me').toArray() }) }}
                </div>

                <div class="text-sm leading-5">
                    <a class="font-medium text-primary-600 hover:text-primary-500 focus:outline-none focus:underline transition ease-in-out duration-150"
                       href="{{ path('lost_password') }}">{{ 'login.forgotPassword'|trans }}</a>
                </div>
            </div>

            <div class="mt-6">
                {{ form_row(form.submit, {'attr': {'class': 'w-full'}}) }}
            </div>
            {{ form_end(form) }}

        </div>
    </div>

</div>
