{% extends "@FerienpassAdmin/layout/2col.html.twig" %}
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}
{% trans_default_domain 'admin' %}


{% block main %}

    {{ partials.h2('offers.headline'|trans) }}

    {% set disabled = edition and not is_granted('offer.create', edition) %}

    <div class="text-right">
        {% embed '@FerienpassAdmin/components/button-primary.html.twig' with { disabled: disabled, 'uri': path('admin_offer_new', { edition: edition ? edition.alias : null })} %}
            {% block link %}
                <span class="block h-5 w-5 mr-1">{{ source('@FerienpassAdmin/icons/plus-solid.svg') }}</span>
                <span>Neues Angebot</span>
            {% endblock %}
        {% endembed %}
    </div>

    {% if disabled %}
        <p class=" mt-1 text-right max-w-xs text-xs text-gray-500">Das Erstellen von
            Angeboten in „{{ edition.name }}“ ist aktuell nicht möglich.</p>
    {% endif %}

    {#              <p class="rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">
                    Complete</p> #}
    {% include '@FerienpassAdmin/components/list.html.twig' with {
        title: "{{ item.name }}",
        info: [
            '
{% if item.dates is not empty %}
    {% set startDate = item.dates|first.begin %}
    <time datetime="{{ startDate|date(\'c\') }}">{{ startDate|format_datetime(pattern="E, dd.MM.yyyy HH:mm") }}</time>
{% else %}
    <span>Dauerangebot</span>
{% endif %}
',
            "{{ item.hosts|map(h => h.name)|join(', ') }}",
            '
                <p class="flex items-center space-x-1" title="aktuelle Anmeldungen">
                    <span class="{{ (item.maxParticipants and item.attendancesConfirmed|length >= item.maxParticipants) ? \'text-red-700\' : \'text-green-700\' }}">
                        <svg viewBox="0 0 2 2" class="h-2 w-2 fill-current">
                            <circle cx="1" cy="1" r="1"/>
                        </svg>
                    </span>

                    <span>
                        {{ item.attendancesNotWithdrawn|length ~ \' / \' ~ (item.maxParticipants ?: \'∞\') ~ \'\' }}
                    </span>
                </p>
',
        ]
    } %}

{% endblock %}