{% extends "@FerienpassAdmin/layout/list.html.twig" %}
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}
{% trans_default_domain 'admin' %}


{% block main %}
    {% if not is_granted('ROLE_ADMIN') and uncompletedOffers %}
        <twig:Admin:Alert type="info" message="offers.uncompletedOffers" class="mb-4"/>
    {% endif %}

    {{ parent() }}
{% endblock %}


{% block list %}

    {% set disabled = edition and not is_granted('offer.create', edition) %}

    {#    <div class="text-right"> #}
    {#        {% embed '@FerienpassAdmin/components/button-primary.html.twig' with { 'uri': path('admin_offers_new', { edition: edition ? edition.alias : null })} %} #}
    {#            {% block link %} #}
    {#                <span class="block h-5 w-5 mr-1">{{ source('@FerienpassAdmin/icons/plus-solid.svg') }}</span> #}
    {#                <span>Neues Angebot</span> #}
    {#            {% endblock %} #}
    {#        {% endembed %} #}
    {#    </div> #}


    {% if is_granted('ROLE_ADMIN') %}

        {{ component('Admin:SearchableQueryableList', {
            qb: qb,
            routeName: app.request.get('_route'),
            routeParameters: app.request.query.all|merge(app.request.get('_route_params')),
            searchable: searchable,
            config: {
                columns: {
                    status: '{{ component("Admin:OfferWorkflowButton", { offer: item }) }}',
                    name: '<span class="{{ item.cancelled ? "line-through" : "" }}">{{ item.name }}</span>',
                    hosts: '{{ item.hosts|map(h => h.name)|join(", ") }}',
                    date: '
{% if item.dates is not empty %}
    {% set startDate = item.dates|first.begin %}
    <time datetime="{{ startDate|date(\'c\') }}">{{ startDate|format_datetime(pattern="E, dd.MM.yyyy HH:mm") }}</time>
{% else %}
    <span>Dauerangebot</span>
{% endif %}
',
                    attendances: '
                <p class="flex items-center space-x-1" title="aktuelle Anmeldungen">
                    <span class="{{ (item.maxParticipants and item.attendancesConfirmed|length >= item.maxParticipants) ? \'text-red-700\' : \'text-green-700\' }}">
                        <svg viewBox="0 0 2 2" class="h-2 w-2 fill-current">
                            <circle cx="1" cy="1" r="1"/>
                        </svg>
                    </span>

                    <span>
                        {{ item.attendancesNotWithdrawn|length ~ \' / \' ~ (item.maxParticipants ?: \'∞\') ~ \'\' }}
                    </span>
                </p>
',
                }
            }}) }}


    {% else %}

        {% if disabled %}
            <div class="mt-1 flex justify-end">
                <p class="max-w-xs text-xs text-gray-500 text-right">Das Erstellen von Angeboten in „{{ edition.name }}“
                    ist aktuell
                    nicht möglich.
                </p></div>
        {% endif %}

        {% include '@FerienpassAdmin/components/list.html.twig' with {
            title: "{{ item.name }}",
            info: [
                '
{% if item.dates is not empty %}
    {% set startDate = item.dates|first.begin %}
    <time datetime="{{ startDate|date(\'c\') }}">{{ startDate|format_datetime(pattern="E, dd.MM.yyyy HH:mm") }}</time>
{% else %}
    <span>Dauerangebot</span>
{% endif %}
',
                "{{ item.hosts|map(h => h.name)|join(', ') }}",
                '
                <p class="flex items-center space-x-1" title="aktuelle Anmeldungen">
                    <span class="{{ (item.maxParticipants and item.attendancesConfirmed|length >= item.maxParticipants) ? \'text-red-700\' : \'text-green-700\' }}">
                        <svg viewBox="0 0 2 2" class="h-2 w-2 fill-current">
                            <circle cx="1" cy="1" r="1"/>
                        </svg>
                    </span>

                    <span>
                        {{ item.attendancesNotWithdrawn|length ~ \' / \' ~ (item.maxParticipants ?: \'∞\') ~ \'\' }}
                    </span>
                </p>
',
            ]
        } %}


    {% endif %}

{% endblock %}