{% extends "@FerienpassAdmin/layout/list.html.twig" %}
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}
{% trans_default_domain 'admin' %}


{% block main %}
    {% if not is_granted('ROLE_ADMIN') and uncompletedOffers %}
        <twig:Admin:Alert type="info" message="offers.uncompletedOffers" class="mb-4"/>
    {% endif %}

    {{ parent() }}
{% endblock %}


{% block list %}

        {{ component('Admin:SearchableQueryableList', {
            qb: qb,
            routeName: app.request.get('_route'),
            routeParameters: app.request.query.all|merge(app.request.get('_route_params')),
            searchable: searchable,
            config: {
                layout: is_granted('ROLE_ADMIN') ? 'table' : 'list',
                title: '
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}
{% trans_default_domain "admin" %}

{{ item.name }}
{{ partials.offer_status_badge(item.state, "xs", "ml-2") }}
',
                info: [
                    '
{% if item.dates is not empty %}
    {% set startDate = item.dates|first.begin %}
    <time datetime="{{ startDate|date(\'c\') }}">{{ startDate|format_datetime(pattern="E, dd.MM.yyyy HH:mm") }}</time>
{% else %}
    <span>Dauerangebot</span>
{% endif %}
',
                    '
                <p class="flex items-center space-x-1" title="aktuelle Anmeldungen">
                    <span class="{{ (item.maxParticipants and item.attendancesConfirmed|length >= item.maxParticipants) ? \'text-red-700\' : \'text-green-700\' }}">
                        <svg viewBox="0 0 2 2" class="h-2 w-2 fill-current">
                            <circle cx="1" cy="1" r="1"/>
                        </svg>
                    </span>

                    <span>
                        {{ item.attendancesNotWithdrawn|length ~ \' / \' ~ (item.maxParticipants ?: \'∞\') ~ \'\' }}
                    </span>
                </p>
',
                ],
                prepend: '{{ component("Admin:OfferWorkflowButton", { offer: item }) }}',
                columns: {
                    name: '<span class="{{ item.cancelled ? "line-through" : "" }}">{{ item.name }}</span>',
                    hosts: '{{ item.hosts|map(h => h.name)|join(", ") }}',
                    date: '
{% if item.dates is not empty %}
    {% set startDate = item.dates|first.begin %}
    <time datetime="{{ startDate|date(\'c\') }}">{{ startDate|format_datetime(pattern="E, dd.MM.yyyy HH:mm") }}</time>
{% else %}
    <span>Dauerangebot</span>
{% endif %}
',
                    attendances: '
                <p class="flex items-center space-x-1" title="aktuelle Anmeldungen">
                    <span class="{{ (item.maxParticipants and item.attendancesConfirmed|length >= item.maxParticipants) ? \'text-red-700\' : \'text-green-700\' }}">
                        <svg viewBox="0 0 2 2" class="h-2 w-2 fill-current">
                            <circle cx="1" cy="1" r="1"/>
                        </svg>
                    </span>

                    <span>
                        {{ item.attendancesNotWithdrawn|length ~ \' / \' ~ (item.maxParticipants ?: \'∞\') ~ \'\' }}
                    </span>
                </p>
',
                }
            }}) }}

{% endblock %}