{% extends "@FerienpassAdmin/layout/base.html.twig" %}
{% trans_default_domain 'admin' %}

{% block main %}

    <div class="grid md:grid-cols-12 gap-6">

        <div class="md:col-span-8">
            {% import "@FerienpassCore/Macro/offer.html.twig" as offer_macro %}

            <h1 class="text-2xl font-bold leading-7 text-gray-900 dark:text-gray-50 sm:text-3xl sm:leading-9 sm:truncate">
                {{ offer.name|raw }}</h1>

            <p class="font-semibold text-lg text-gray-900 leading-6 truncate">{{ offer_macro.date_combined(offer.dates) }}</p>

            <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap">
                {% if offer.edition is not empty %}
                    <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mr-6">
                        <span class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400">{{ source('@FerienpassAdmin/icons/calendar.svg') }}</span>
                        {{ offer.edition.name }}
                    </div>
                {% endif %}
                <div class="mt-2 flex items-center text-sm leading-5 text-gray-500">
                    <span class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400">{{ source('@FerienpassAdmin/icons/user-circle.svg') }}</span>
                    {{ offer.hosts|map(h => h.name)|join(', ') }}
                </div>
            </div>

            {% if offer.image %}
                <div class="mt-4">
                    {% include "@FerienpassCore/Alert/information.html.twig" with { message: 'Wenn das Bild im Korrekturabzug noch nicht hundertprozentig passt, schneiden wir es noch zu. Achten Sie einfach darauf, dass das Bild groß genug ist und ausreichend "Hintergrund" hat, so dass es für verschiedene Formate passt.'|trans } %}
                </div>
            {% endif %}

        </div>

    </div>

    <div class="mt-6">
        {% embed '@FerienpassAdmin/components/content_tabs.html.twig' with { tabs: ['web', 'pdf'] } %}

            {% block tab_web %}

                <div style="height: 500px" class="overflow-y-scroll">
                    <div x-data="{}"
                         class="bg-gray-300 pointer-events-none"
                         x-init="$refs.shadow.attachShadow({mode: 'open'}); $refs.shadow.shadowRoot.appendChild( $refs.template.content.cloneNode(true) )">
                        <div class="transform scale-90">
                            <article x-ref="shadow"></article>
                        </div>

                        <template x-ref="template">
                            <link rel="stylesheet" href="{{ asset ('css/www.tailwind.css') }}">
                            {{ importmap('www') }}
                            {{ render(controller('Ferienpass\\CmsBundle\\Controller\\Fragment\\OfferDetailsController', { offer: offer })) }}
                        </template>

                    </div>
                </div>

            {% endblock %}

            {% block tab_pdf %}

                <embed class="w-full" src="{{ path('admin_print_proof', { edition: offer.edition.alias, id: offer.id, _format: 'pdf' }) }}"
                       width="500" height="500" type="application/pdf">

                <div class="px-4 py-5 sm:p-6">
                    {% include '@FerienpassAdmin/components/button-default.html.twig' with {
                        uri: path('admin_print_proof', { edition: offer.edition.alias, id: offer.id, '_format': 'pdf', dl: '1' }),
                        link: 'Korrekturabzug (PDF) herunterladen'
                    } %}
                </div>

            {% endblock %}

        {% endembed %}
    </div>

{% endblock %}
