{% trans_default_domain 'admin' %}
{% set translationPrefix = (routeName ?? app.request.get('_route'))|split('_')[1] %}

<div class="flex space-x-3">
    {% if this.sortingFields %}
        <div>
            <div>
                <label for="sorting" class="sr-only">Sortierung</label>
                <select data-model="sorting" id="sorting" name="sorting"
                        class="pt-1 pb-1.5 text-sm font-medium hover:bg-gray-50 dark:hover:bg-white/10">
                    {% for field in this.sortingFields %}
                        <option value="{{ field }}">{{ "#{translationPrefix}.sorting.#{field}"|trans }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endif %}

    {% if filter.children|length > 1 %}

        <div>
            {% for filterName, active in filter.children|filter((v, k) => k in this.filters and not v.vars.isEmpty and k not in app.request.get('_route_params')|keys) %}

                <span class="group inline-flex items-center gap-x-1 rounded-md bg-white dark:bg-white/5 px-2.5 py-1.5 text-sm font-medium text-gray-900 dark:text-white/95 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 hover:bg-gray-50 dark:hover:bg-white/10">
                    <span>
                        {{ active.vars.humanReadable|trans }}
                    </span>

                    <button type="button"
                            data-action="live#action"
                            data-live-action-param="unsetFilter"
                            data-live-filter-name-param="{{ filterName }}"
                            class="relative -mr-1 h-3.5 w-3.5 rounded-sm group-hover:bg-gray-500/20">
                        <span class="sr-only">Filter löschen</span>
                        <svg viewBox="0 0 14 14" class="h-3.5 w-3.5 stroke-gray-500 dark:stroke-white/30 group-hover:stroke-gray-700 dark:group-hover:stroke-white">
                            <path d="M4 4l6 6m0-6l-6 6"/>
                        </svg>
                        <span class="absolute -inset-1"></span>
                    </button>

                </span>

            {% endfor %}

        </div>

        {% set activeFilters = filter.children|filter((filter) => filter.vars.display|default(false)) %}
        {% if activeFilters is not empty %}

            <twig:Admin:Dropdown dropdownClass="w-96" toggleLabel="Filtern…">
                <twig:block name="dropdown">
                    <div class="px-4 py-2">
                        {{ form_start(filter, {
                            attr: {
                                'data-action': 'live#action:prevent',
                                'data-live-action-param': 'filter'
                            }
                        }) }}

                        <div class="space-y-4">
                            {% for widget in activeFilters %}
                                {{ form_row(widget) }}
                            {% endfor %}
                        </div>

                        {{ form_end(filter, { render_rest: false }) }}
                    </div>
                </twig:block>
            </twig:Admin:Dropdown>

        {% endif %}

    {% endif %}

</div>
