{% trans_default_domain 'admin' %}
{% set translationPrefix = app.request.get('_route')|split('_')[1] %}
{% set action = app.request.get('_route')|split('_')[2] %}

{% if items is not empty %}

    <ul role="list" class="divide-y divide-gray-200">

        {% for item in items %}

            <li class="flex items-center justify-between gap-x-6 py-5">
                <div class="min-w-0">
                    <div class="flex items-start gap-x-3">
                        <p class="text-sm font-semibold leading-6 text-gray-900">{{ include(template_from_string(title)) }}</p>
                    </div>

                    {% if info is defined %}

                        <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">

                            {% for i in info %}

                                {% set return = include(template_from_string(i)) %}
                                {% if return %}

                                    <p class="truncate">{{ return|raw }}</p>

                                    {% if not loop.last %}
                                        <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                                            <circle cx="1" cy="1" r="1"/>
                                        </svg>
                                    {% endif %}

                                {% endif %}

                            {% endfor %}

                        </div>

                    {% endif %}

                </div>

                <div class="flex flex-none items-center gap-x-4">

                    {% set actions = list_actions(item) %}

                    {% if actions.hasChildren %}

                        {% set action = actions.firstChild %}
                        {%- set label = action.label -%}
                        {%- set label = label|trans(action.extra('translation_params', {})) -%}
                        <a href="{{ action.uri }}"
                           class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                            {{ label }}</a>

                        {% set actions = actions.children|slice(1)|filter(a => a.displayed and not a.extra('method')) %}

                        {% if actions|length %}
                            <div class="flex-none">
                                {% embed '@FerienpassAdmin/components/dropdown.html.twig' %}
                                    {% block toggle %}
                                        <button type="button"
                                                class="-m-2.5 block p-2.5 text-gray-500 hover:text-gray-900"
                                                id="options-menu-0-button" aria-expanded="false"
                                                aria-haspopup="true">
                                            <span class="sr-only">Open options</span>
                                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"
                                                 aria-hidden="true">
                                                <path d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z"/>
                                            </svg>
                                        </button>
                                    {% endblock %}

                                    {% block dropdown %}

                                        {% for action in actions %}
                                            {% embed '@FerienpassAdmin/components/dropdown-a.html.twig' with {'uri': action.uri} %}
                                                {% block link %}
                                                    <span class="mr-3 h-5 w-5 text-gray-400 flex-shrink-0">{{ source('@FerienpassAdmin/icons/'~action.extra('icon')~'.svg', ignore_missing = true) }}</span>
                                                    {%- set label = action.label -%}
                                                    {%- set label = label|trans(action.extra('translation_params', {})) -%}
                                                    <span class="text-left leading-tight">{{ label }}</span>
                                                {% endblock %}
                                            {% endembed %}
                                        {% endfor %}

                                    {% endblock %}

                                {% endembed %}

                            </div>

                        {% endif %}

                    {% endif %}

                </div>
            </li>

        {% endfor %}

    </ul>

{% else %}

    <div class="py-6">
    {% include '@FerienpassAdmin/components/alert/info.html.twig' with {'message': "#{translationPrefix}.#{action}.empty"|trans } %}
    </div>

{% endif %}
