{% trans_default_domain 'admin' %}
{% set translationPrefix = (routeName ?? app.request.get('_route'))|split('_')[1] %}
{% set action = (routeName ?? app.request.get('_route'))|split('_')[2] %}

{% if items is not empty %}


    {% if ms is defined %}
        {{ form_start(ms, {'attr': {'x-data': '{ selected: [] }'}}) }}
    {% endif %}

    <div class="flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300 dark:divide-gray-700">
                    <thead>
                    <tr>

                        {% if ms is defined and ms.items is defined %}

                            <th scope="col"
                                class="py-2 pl-2 pr-3 text-left text-sm sm:pl-0 w-0">

                                {% do ms.items.setRendered %}
                                <script>
                                    function multiSelectAll(e) {
                                        {% if msPreferred is defined %}
                                        if (this.$el.checked && (this.selected.length > 0 || {{ msPreferred|length ? 'false' : 'true' }})) {
                                            this.selected = [{{ items|map(i => "#{i.id}")|join(', ') }}];
                                        } else if (this.$el.checked) {
                                            this.selected = [{{ msPreferred|map(i => "#{i.id}")|join(', ') }}];
                                            this.$el.checked = false;
                                        } else {
                                            this.selected = [];
                                        }
                                        {% else %}
                                        if (this.$el.checked) {
                                            this.selected = [{{ items|map(i => "#{i.id}")|join(', ') }}];
                                        } else {
                                            this.selected = [];
                                        }
                                        {% endif %}
                                    }
                                </script>
                                <input type="checkbox"
                                       id="cbx_ms_sa"
                                       @change="multiSelectAll"
                                       class="focus:ring-primary-500 h-4 w-4 text-primary-600 border-gray-300">
                                <label for="cbx_ms_sa" class="sr-only">Alle auswählen</label>

                            </th>

                        {% endif %}

                        {% if prepend is defined %}
                            <th scope="col" class="relative py-2 pl-1 pr-2 sm:pr-0">&nbsp;</th>
                        {% endif %}

                        {% for th in columns|keys %}

                            <th scope="col"
                                class="py-2 pl-2 pr-1 text-left text-sm font-semibold text-gray-900 dark:text-gray-100{% if loop.first %} sm:pl-0{% endif %}">
                                {{ "#{translationPrefix}.th.#{th}"|trans }}
                            </th>

                        {% endfor %}

                        <th scope="col" class="relative py-2 pl-1 pr-2 sm:pr-0">&nbsp;</th>

                    </tr>
                    </thead>

                    <tbody class="divide-y divide-gray-200 dark:divide-gray-800">

                    {% for item in items %}

                        <tr id="tr_{{ item.id }}">

                            {% if ms is defined %}

                                <td class="whitespace-nowrap py-2 pl-2 pr-3 text-sm sm:pl-0">

                                    {% if ms.items[item.id] is defined %}
                                        {{ form_widget(ms.items[item.id], {'attr': {'x-model': 'selected'}}) }}
                                    {% endif %}

                                </td>

                            {% endif %}

                            {% if prepend is defined %}
                                <td class="relative whitespace-nowrap py-2 pl-1 pr-1">  {{ include(template_from_string(prepend)) }}</td>
                            {% endif %}

                            {% for td in columns %}

                                {% if loop.first %}
                                    <td class="whitespace-nowrap py-2 pl-2 pr-1 text-sm font-medium text-gray-900 dark:text-gray-100/90 sm:pl-0 max-w-xs truncate overflow-hidden">
                                            {{ include(template_from_string(td)) }}
                                    </td>
                                {% else %}
                                    <td class="whitespace-nowrap py-2 pl-2 pr-1 text-sm text-gray-700 dark:text-gray-100/50 max-w-xs truncate overflow-hidden">
                                        {{ include(template_from_string(td)) }}
                                    </td>
                                {% endif %}

                            {% endfor %}

                            <td class="relative whitespace-nowrap py-2 pl-1 pr-2 sm:pr-0">

                                <div class="flex items-center gap-x-2">

                                    {% if item.activity is defined %}
                                        <button type="button"
                                                data-action="live#emit"
                                                data-event="view(id={{ item.id }})"
                                        >
                                            <span class="flex w-16 gap-x-1" title="Bearbeitungsnotizen">
                                                <svg class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24"
                                                     stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"/>
                                                </svg>
                                                <span class="text-xs leading-6 text-gray-700">{{ item.activity|length }}</span>
                                            </span>
                                        </button>
                                    {% endif %}


                                {% set actions = list_actions(item) %}
                                {% set actions = actions.children|filter(a => a.displayed) %}
                                {% if actions|length > 0 %}

                                    <div class="flex flex-none items-center justify-end gap-x-4">

                                        {% import '@KnpMenu/menu.html.twig' as knp_menu %}
                                        {% set action = actions|first %}
                                        {%- set label = action.label -%}
                                        {%- set label = label|trans(action.extra('translation_params', {})) -%}
                                        <a href="{{ action.uri }}" {{ knp_menu.attributes(action.linkAttributes) }}
                                           class="rounded-md bg-white dark:bg-gray-100/5 px-2.5 py-1.5 text-sm font-semibold text-gray-900 dark:text-gray-100 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-0 hover:bg-gray-50 dark:hover:bg-gray-100/10">
                                            {{ label }}</a>

                                        {% set actions = actions|slice(1) %}

                                        {% if actions|length %}
                                            <div class="flex-none">

                                                <twig:Admin:Dropdown>
                                                    <twig:block name="dropdown">
                                                        {% for action in actions %}
                                                            {% embed '@FerienpassAdmin/components/dropdown-a.html.twig' with { uri: action.uri, attr: action.extra('attr', []), linkAttributes: action.linkAttributes } %}
                                                                {% trans_default_domain 'admin' %}
                                                                {% block link %}
                                                                    <span class="mr-3 h-5 w-5 text-gray-400 flex-shrink-0">{{ source('@FerienpassAdmin/icons/'~action.extra('icon')~'.svg', ignore_missing = true) }}</span>
                                                                    {%- set label = action.label -%}
                                                                    {%- set label = label|trans(action.extra('translation_params', {})) -%}
                                                                    <span class="text-left leading-tight">{{ label }}</span>
                                                                {% endblock %}
                                                            {% endembed %}
                                                        {% endfor %}
                                                    </twig:block>
                                                </twig:Admin:Dropdown>

                                            </div>

                                        {% endif %}

                                    </div>

                                {% endif %}
                                </div>

                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    {% if ms is defined %}

        <div class="flex items-center space-x-2">

            <p class="text-sm font-medium text-gray-900 dark:text-gray-100"><span x-text="selected.length"></span> ausgewählte:</p>

            {{ form_rest(ms) }}
        </div>

        {{ form_end(ms) }}
    {% endif %}

{% else %}

    <div class="py-6">
        {% set message = "#{translationPrefix}.#{action}.empty" %}
        <twig:Admin:Alert type="info" :message="message"/>
    </div>

{% endif %}
