{% import "@FerienpassCore/Macro/offer.html.twig" as offer_macro %}
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}

<div {{ attributes }}>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action',
            'data-action-name': 'prevent|submit'
        }
    }) }}

    {% set dto = form.vars.data %}

    {% if dto.participant %}

        {{ partials.h2('Neue Anmeldung') }}
        {% if dto.participant %}
            <p class="text-base leading-6 text-gray-500">{{ dto.participant.name }} ({{ dto.participant.age }}
                Jahre)</p>
        {% endif %}
        {% if dto.offer %}
            <p class="text-base leading-6 text-gray-500">{{ dto.offer.name }} ({{ "##{offer.id}" }})</p>
        {% endif %}

    {% endif %}

    <div class="mt-4 space-y-6">

        {% if form.offer is defined %}
            {{ form_row(form.offer, { attr: { 'data-action': 'change->live#action', 'data-action-name': 'preview'} }) }}
        {% endif %}

        {% if dto.offer %}
            <div>
                <h4 class="truncate text-gray-900 font-medium leading-5">{{ dto.offer.name }}</h4>
                <p class="text-sm text-gray-500 leading-3">{{ dto.offer.hosts|map(h => h.name)|join(', ') }}</p>
                <p class="mt-3 text-sm text-gray-900 font-medium leading-3">

                    {% if dto.offer.dates is not empty %}
                        {{ offer_macro.date_single(dto.offer.dates|first) }}
                    {% else %}
                        Dauerangebot
                    {% endif %}
                </p>

                <p class="mt-1 text-sm text-gray-500 leading-4">min: {{ dto.offer.minAge ?: '-' }} /
                    max: {{ dto.offer.maxAge ?: '-' }} Jahre</p>
                <p>
                    <span class="text-sm text-gray-500 leading-4">min: {{ dto.offer.minParticipants ?: '-' }} /
                        max: {{ dto.offer.maxParticipants ?: '-' }} TN</span>
                    <span>
                        <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-green-100 text-green-800">
                            {{ dto.offer.attendancesConfirmed|length }}
                        </span>
                        <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-100 text-yellow-800">
                            {{ dto.offer.attendancesWaitlisted|length }}
                        </span>
                        <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-100 text-gray-800">
                            {{ dto.offer.attendancesWaiting|length }}
                        </span>
                    </span>
                </p>
            </div>
        {% endif %}

        {% if form.participant is defined %}
            {{ form_row(form.participant) }}
        {% endif %}

        {% if dto.participant and dto.offer and dto.offer.dates is not empty %}
            {% set age = dto.participant.age(dto.offer.dates|first.begin) %}
        {% elseif dto.participant %}
            {% set age = dto.participant.age %}
        {% endif %}

        {% if dto.participant and dto.offer and ((dto.offer.minAge and age < dto.offer.minAge) or (dto.offer.maxAge and age > dto.offer.maxAge)) %}
            <p class="flex items-center">
                <span class="h-5 w-5 text-red-700">{{ source('@FerienpassAdmin/icons/exclamation.svg') }}</span>
                <span class="ml-1 text-sm font-medium leading-5 text-red-700">Alter nicht zulässig!
                    <span class="font-normal">Trotzdem anmelden?</span>
                </span>
            </p>
        {% endif %}

        {# TODO add warning overlapping offer, see @{ApplyForm_overlappingOffer} #}

        {{ form_row(form.status) }}

    </div>


    {{ form_end(form) }}

</div>
