{% import "@FerienpassCore/Macro/offer.html.twig" as offer_macro %}
{% trans_default_domain 'admin' %}

<h2 class="text-base font-semibold leading-6 text-gray-900">{{ headline|trans }}
    {% if payment.receiptNumber %}
        <span class="font-normal">{{ '#'~ payment.receiptNumber }}</span>
    {% endif %}
</h2>

<dl class="text-sm leading-6">
    <div class="sm:pr-4">
        <dt class="inline text-gray-500">Beleg vom</dt>
        <dd class="inline text-gray-700">
            <time datetime="{{ payment.createdAt|date('c') }}">{{ payment.createdAt|date('d.m.Y') }}</time>
        </dd>
    </div>
    {% if payment.billingAddress %}
        <div class="mt-8 sm:mt-6 sm:border-t sm:border-gray-900/5 sm:pt-6">
            <dt class="font-semibold text-gray-900">Empfänger</dt>
            <dd class="mt-2 text-gray-500">{{ payment.billingAddress|nl2br }}
            </dd>
        </div>
    {% endif %}
</dl>
<table class="mt-16 w-full whitespace-nowrap text-left text-sm leading-6">
    <thead class="border-b border-gray-200 text-gray-900">
    <tr>
        <th scope="col" class="px-0 py-3 font-semibold">Angebot</th>
        <th scope="col" class="py-3 pl-8 pr-0 text-right font-semibold">Teilnahmegebühr</th>
    </tr>
    </thead>
    <tbody>
    {% for item in payment.items %}
        <tr class="border-b border-gray-100">
            <td class="max-w-0 px-0 py-5 align-top">
                <div class="truncate font-medium text-gray-900">{{ item.attendance.offer.name }}
                    {% if item.attendance.offer.dates is not empty %}
                        ( {{ offer_macro.date_single(item.attendance.offer.dates|first) }})
                    {% endif %}
                </div>
                {% if item.attendance.participant %}
                <div class="truncate text-gray-500">{{ item.attendance.participant.name }}</div>
                {% endif %}
            </td>
            <td class="py-5 pl-8 pr-0 text-right align-top tabular-nums text-gray-700">{{ (item.amount/100)|format_currency('EUR', locale='de') }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th scope="row" class="pt-4 font-semibold text-gray-900 sm:hidden">Summe</th>
        <th scope="row"
            class="hidden pt-4 text-right font-semibold text-gray-900 sm:table-cell">Summe
        </th>
        <td class="pb-0 pl-8 pr-0 pt-4 text-right font-semibold tabular-nums text-gray-900">{{ (payment.totalAmount/100)|format_currency('EUR', locale='de') }}</td>
    </tr>
    </tfoot>
</table>
