{% trans_default_domain 'admin' %}

<div {{ attributes }}>

    {% if item is not null %}

        <div class="sm:flex sm:items-start">
            <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                <span class="block h-6 w-6 text-red-600">{{ source('@FerienpassAdmin/icons/exclamation.svg') }}</span>
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3 class="text-lg leading-6 font-medium text-gray-900"
                    id="modal-headline">{{ "#{type}.deleteModal.headline"|trans }}</h3>
                <div class="mt-2">
                    <p class="text-sm leading-5 text-gray-500">
                        {{ "#{type}.deleteModal.confirm"|trans }}
                    </p>

                    {% set metadata = {
                        accounts: {
                            name: '{{ item.name }}',
                            email: '{{ item.email }}',
                            participants: '{{ item.participants|map(u => "#{u.name}")|join(", ") }}',
                            accountRoles: '{{ item.accountRoles|map(r => "accounts.role.#{r}"|trans([], "admin"))|join(", ") }}'
                        },
                        offers: {
                            name: '{{ item.name }}',
                            hosts: '{{ item.hosts|map(h => h.name)|join(", ") }}',
                            date: '
{% if item.dates is not empty %}
    {% set startDate = item.dates|first.begin %}
    <time datetime="{{ startDate|date(\'c\') }}">{{ startDate|format_datetime(pattern="E, dd.MM.yyyy HH:mm") }}</time>
{% else %}
    <span>Dauerangebot</span>
{% endif %}
',
                            attendances: '
                <p class="flex items-center space-x-1" title="aktuelle Anmeldungen">
                    <span class="{{ (item.maxParticipants and item.attendancesConfirmed|length >= item.maxParticipants) ? \'text-red-700\' : \'text-green-700\' }}">
                        <svg viewBox="0 0 2 2" class="h-2 w-2 fill-current">
                            <circle cx="1" cy="1" r="1"/>
                        </svg>
                    </span>

                    <span>
                        {{ item.attendancesNotWithdrawn|length ~ \' / \' ~ (item.maxParticipants ?: \'∞\') ~ \'\' }}
                    </span>
                </p>
',
                        },
                        participants: {
                            name: '{{ item.name }}',
                            dateOfBirth: '{{ item.dateOfBirth|date("d.m.Y") }}',
                            user: '{{ item.user ? item.user.name : "-" }}'
                        },
                        editions: {
                            title: '{{ item.name }}',
                            holiday: "{{ item.holiday ? item.holiday.periodBegin|date('d.m.Y') ~ ' - ' ~  item.holiday.periodEnd|date('d.m.Y') : '' }}",
                            countOffers: '{{ item.offers|length }}',
                            archived: '{{ item.archived ? "ja" : "nein" }}',
                        }
                    } %}

                    <div class="mt-6 border-t border-gray-100">
                        <dl class="divide-y divide-gray-100">
                            {% for name, value in attribute(metadata, type) %}
                                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                    <dt class="text-sm font-medium leading-6 text-gray-900">{{ "#{type}.label.#{name}"|trans }}</dt>
                                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ include(template_from_string(value)) }}</dd>
                                </div>
                            {% endfor %}
                        </dl>
                    </div>

                    {% if 'accounts' == type and item.participants|length %}
                        <div class="mt-2 flex">
                            <div class="flex-shrink-0">
                                <svg class="h-5 w-5 text-yellow-700" viewBox="0 0 20 20" fill="currentColor"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd"
                                          d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm text-yellow-700">
                                    <span class="font-semibold">Kinder werden mitgelöscht!</span> Wenn Sie das nicht
                                    wollen, bearbeiten Sie die Kinder und entfernen die Eltern-Zuordnung.
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% if 'offers' == type and item.attendances|length %}
                        <div class="mt-2 flex">
                            <div class="flex-shrink-0">
                                <svg class="h-5 w-5 text-yellow-700" viewBox="0 0 20 20" fill="currentColor"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd"
                                          d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm text-yellow-700">
                                    <span class="font-semibold">Anmeldungen werden mitgelöscht!</span>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% if 'participants' == type and item.attendances|length %}
                        <div class="mt-2 flex">
                            <div class="flex-shrink-0">
                                <svg class="h-5 w-5 text-yellow-700" viewBox="0 0 20 20" fill="currentColor"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd"
                                          d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm text-yellow-700">
                                    <span class="font-semibold">Anmeldungen werden mitgelöscht!</span>
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    {% if 'editions' == type and item.offers|length %}
                        <div class="mt-2 flex">
                            <div class="flex-shrink-0">
                                <svg class="h-5 w-5 text-yellow-700" viewBox="0 0 20 20" fill="currentColor"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd"
                                          d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm text-yellow-700">
                                    <span class="font-semibold">Es werden alle {{ item.offers|length }} Angebote mit jeweiligen Anmeldungen mitgelöscht!</span> Wenn Sie das nicht wollen, verschieben Sie die Angebote vorher in eine andere Saison.
                                </p>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
            <button
                    data-action="live#action"
                    data-action-name="prevent|delete"
                    class="relative shadow-sm inline-flex px-4 py-2 items-center border border-transparent text-sm leading-5 font-medium text-white rounded-md focus:outline-none focus:shadow-outline-blue bg-white border-gray-300 text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline mt-3 flex w-full justify-center text-base sm:text-sm sm:mt-0 sm:ml-4 sm:w-auto bg-red-600 text-white hover:bg-red-500 focus:border-red-700 focus:shadow-outline-red"
            >Angebot löschen
            </button>
            <button
                    class="relative shadow-sm inline-flex px-4 py-2 items-center border border-transparent text-sm leading-5 font-medium rounded-md focus:outline-none focus:shadow-outline-blue bg-white border-gray-300 text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline mt-3 flex w-full justify-center text-base sm:text-sm sm:mt-0 sm:w-auto"
                    @click.prevent="open = false">Abbrechen
            </button>
        </div>

    {% endif %}

</div>
