{% trans_default_domain 'admin' %}
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}

{# tw !bg-blue-100 #}

{% macro column(status, attendances, autoAssign = false, max = null) %}
    <div {{ stimulus_target('ferienpass/admin-offer-assign', status~'Column') }}
            class="bg-white overflow-hidden shadow rounded-lg">
        <div class="border-b border-gray-200 px-4 py-5 sm:px-6">
            <div class="flex justify-between">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    {{ partials.status_badge(status, 'base', '-ml-2.5') }}
                </h3>
                <div class="flex items-center">
                    {% if max is null %}
                        <span class="ml-auto inline-block py-0.5 px-3 font-medium text-gray-600 text-xs leading-4 rounded-full bg-gray-100 font-normal">max</span>
                    {% endif %}
                </div>
            </div>
            <p class="mt-2 text-xs leading-4 text-gray-500">{{ ('statusDescription.'~status)|trans }}</p>
        </div>
        {% if max is not null %}
            <div class="px-4 border-b border-t -mt-px py-2 sm:px-6"
                    {#                    {% if max is not null %} #}
                    {#                        :class="{ 'bg-yellow-50 border-orange-200': count > {{ max }}, 'bg-gray-50 border-gray-200': count <= {{ max }} }" #}
                    {#                    {% else %} #}
                    {#                        :class="{ 'bg-gray-50 border-gray-200': true }" #}
                    {#                    {% endif %} #}
            >
                <p class="leading-5"
                        {#                        {% if max is not null %} #}
                        {#                            :class="{ 'text-orange-700': count > {{ max }}, 'text-gray-700': count <= {{ max }} }" #}
                        {#                        {% else %} #}
                        {#                            :class="{ 'text-gray-700': true }" #}
                        {#                        {% endif %} #}
                >
                    <span class="ml-auto inline-block py-0.5 px-3 mr-1 -ml-2 text-xs leading-4 rounded-full font-medium"
                            {#                          :class="{ 'bg-yellow-200 text-orange-700': count > {{ max }}, 'bg-gray-200 text-gray-600': count <= {{ max }} }" #}
                    >0</span>von {% if max %}{{ max }} Kindern{% else %}∞{% endif %}
                </p>
            </div>
        {% endif %}
        <div class="px-4 py-5 sm:py-6">
            {% if status == 'waiting' and attendances|length > 0 %}
                <form method="post" class="mb-6 text-center">
                    <span class="inline-flex rounded-md shadow-sm">
                        <button type="submit" name="FORM_SUBMIT" value="confirm_all_waiting"
                                class="inline-flex items-center px-3 py-2 border border-gray-300 text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                            <span class="-ml-0.5 mr-2 h-4 w-4">{{ source('@FerienpassCore/Icons/check-solid.svg') }}</span>alle
                            zulassen
                        </button>
                    </span>
                </form>
            {% endif %}
            <ul data-attendance-status="{{ status }}">
                {% for attendance in attendances %}
                    <li class="group cursor-move bg-gray-50 px-2 py-2 border border-transparent rounded mb-4 hover:bg-gray-100 hover:border-gray-100 hover:shadow-sm"
                        data-attendance-id="{{ attendance.id }}">
                        <div class="flex">
                            <div class="mr-1">
                                <span class="h-5 w-5 block -ml-1 text-gray-400 group-hover:text-gray-500">{% include '@FerienpassCore/Icons/dots-vertical.svg.twig' %}</span>
                            </div>

                            <div class="w-full">
                                <div class="flex justify-between">
                                    {% if not attendance.participant %}
                                        <span class="font-medium block text-sm text-gray-700 truncate">Gelöschter
                                            Teilnehmer</span>
                                    {% else %}
                                        <a href="{{ path('admin_participants_edit', { id: attendance.participant.id }) }}"
                                           class="font-medium block text-sm text-gray-700 truncate"
                                           target="_blank"
                                        >
                                            {{ attendance.participant.name }}
                                        </a>
                                        <div>
                                            {% if attendance.participant.user %}
                                                <a class="text-gray-400 hover:text-gray-500"
                                                   href="{{ path('admin_accounts_edit', { id: attendance.participant.user.id }) }}"
                                                   target="_blank"
                                                >
                                                    <span class="w-5 h-5 block">{{ source('@FerienpassCore/Icons/user-circle-solid.svg.twig') }}</span>
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                                {% set firstDate = attendance.offer.dates|first %}
                                <p class="text-gray-500 text-sm mb-1">{{ attendance.participant ? attendance.participant.age(firstDate ? firstDate.begin : null) : attendance.age ~ ' Jahre' }}</p>
                                <p class="text-gray-500 text-xs flex items-center">
                                    <span>{{ 'enrolledBefore'|trans({days: date(attendance.createdAt).diff(date()).days}) }}</span>
                                </p>
                                {% if attendance.participant %}
                                    <a class="text-gray-500 text-xs"
                                       href="{{ path('admin_participants_attendances', { id: attendance.participant.id }) }}"
                                       target="_blank"
                                    >
                                        {{ 'countOverallApplications'|trans({count: attendance.participant.attendancesNotWithdrawn(attendance.offer.edition)|length}) }}
                                    </a>
                                {% endif %}
                                {% if attendance.activity is defined %}
                                    <button type="button"
                                            class="text-gray-500 text-xs"
                                            data-action="live#emit"
                                            data-live-event-param="view"
                                            data-live-id-param="{{ attendance.id }}"
                                    >
                                        {{ attendance.activity|length }} Vorgänge/Kommentare
                                    </button>
                                {% endif %}

                                {% if attendance.task and attendance.task.maxApplications %}
                                    <p class="mt-0.5">
                                        <span class="sr-only">Priorität {{ attendance.userPriority }}</span>
                                        <span aria-hidden="true" class="flex items-center -ml-1">
                                            {% for i in attendance.task.maxApplications..1 %}
                                                {% if attendance.userPriority > i %}
                                                    <span class="block h-4 w-4 text-gray-300">{{ source('@FerienpassCore/Icons/star-solid.svg') }}</span>
                                                {% else %}
                                                    <span class="block h-4 w-4 text-yellow-500">{{ source('@FerienpassCore/Icons/star-solid.svg') }}</span>
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                    </p>
                                {% endif %}

                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endmacro column %}

<div {{ attributes.defaults(stimulus_controller('ferienpass/admin-offer-assign')) }}>

    {% if offer.cancelled %}
        <div class="mb-6 shadow rounded-md overflow-hidden mb-6">
            {% embed '@FerienpassCore/Alert/error.html.twig' %}
                {% block headline %}Angebot abgesagt{% endblock %}
                {% block content %}Kinder verbleiben auf der Teilnahmeliste für den Fall, dass das Angebot wiederhergestell wird.{% endblock %}
            {% endembed %}
        </div>
    {% endif %}

    {% if not offer.onlineApplication %}
        <div class="bg-white overflow-hidden shadow rounded-lg">
            <div class="px-4 py-5 sm:p-6">
                {% embed '@FerienpassCore/Alert/information.html.twig' %}
                    {% block headline %}Keine Online-Anmeldungen{% endblock %}
                    {% block content %}Die Anmeldungen laufen über den Veranstalter oder es sind keine Anmeldungen notwendig.{% endblock %}
                {% endembed %}
            </div>
        </div>
    {% else %}
        {% if offer.attendances is empty %}
            <div class="bg-white overflow-hidden shadow rounded-lg">
                <div class="px-4 py-5 sm:p-6">
                    {% embed '@FerienpassCore/Alert/information.html.twig' %}
                        {% block headline %}Keine Anmeldungen{% endblock %}
                        {% block content %}Es haben sich noch keine Kinder zum Angebot angemeldet.{% endblock %}
                    {% endembed %}
                </div>
            </div>
        {% else %}

            <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-6">

                {{ _self.column('confirmed', offer.attendances|filter(a => a.confirmed), autoAssign|default, offer.maxParticipants) }}

                {{ _self.column('waitlisted', offer.attendances|filter(a => a.waitlisted), autoAssign|default) }}

                {{ _self.column('waiting', offer.attendances|filter(a => a.waiting), autoAssign|default) }}

                {% if offer.attendances|filter(a => a.errored)|length %}
                <div>{% endif %}

                    {{ _self.column('withdrawn', offer.attendances|filter(a => a.withdrawn), autoAssign|default) }}

                    {% if offer.attendances|filter(a => a.errored)|length %}
                        <div class="mt-6">
                            {{ _self.column('error', offer.attendances|filter(a => a.errored), autoAssign|default) }}
                        </div>
                    {% endif %}

                    {% if offer.attendances|filter(a => a.errored)|length %}</div>{% endif %}
            </div>
        {% endif %}
    {% endif %}

    {% component "Admin:SlideOver" %}
        {% block content %}
            <twig:Admin:ListActivityPanel entity="Ferienpass\\CoreBundle\\Entity\\Attendance"/>
        {% endblock %}
    {% endcomponent %}

</div>
