{% trans_default_domain 'admin' %}

<div {{ attributes }}>

    {% set transitions = this.transitions %}

    <twig:Admin:Dropdown position="left">

        {% macro icon(status, title=false) %}

            {% set icons = {
                cancelled: ['x-circle.solid', 'text-red-600'],
                draft: ['plus-circle.outline', 'text-orange-600'],
                completed: ['check-circle.outline', 'text-green-600'],
                reviewed: ['shield-check.outline', 'text-green-600'],
                published: ['check-circle.solid', 'text-green-600'],
                unpublished: ['x-circle.outline', 'text-gray-500'],
            } %}

            {% set icon = attribute(icons, status)|first %}
            {% set color = attribute(icons, status)|last %}
            <span aria-label="{{ ("offers.status.#{status}")|trans([], "admin") }}"
                  class="inline-flex">
                <span aria-hidden="true"
                      title="{{ ("offers.status.#{status}")|trans([], "admin") }}"
                      class="{{ color }} w-6 h-6">
                    {{ source("@FerienpassAdmin/icons/#{icon}.svg") }}
                </span>
            </span>
        {% endmacro %}

        <twig:block name="toggle">
            <span class="inline-flex rounded p-0.5 hover:bg-gray-200/50">

                <span class="sr-only">Open options</span>

                {{ _self.icon(offer.state, true) }}

            </span>
        </twig:block>

        <twig:block name="dropdown">
            <div class="px-4 py-3" role="none">
                <p class="text-sm" role="none">Aktueller Status:</p>
                <p class="truncate text-sm font-medium text-gray-900"> {{ "offers.status.#{offer.state}"|trans([], 'admin') }}</p>
            </div>
            <div class="py-1" role="none">
                {% for transition in transitions %}
                    <button type="button"
                            data-action="live#action"
                            data-action-name="apply(transition={{ transition.name }})"
                            class="flex items-center space-x-2 text-gray-700 px-4 py-2 text-sm">

                        {{ _self.icon(transition.tos|first, true) }}

                        <span>
                            {{ "offers.workflow.#{transition.name}"|trans([], 'admin') }}
                        </span>

                    </button>
                {% endfor %}
            </div>
        </twig:block>
    </twig:Admin:Dropdown>

</div>
