{% trans_default_domain 'admin' %}
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}
{% import "@FerienpassCore/Macro/offer.html.twig" as offer_macro %}

<div {{ attributes }}>

    <div class="grid grid-cols-3">

        <div>
            <label for="slc_edition" class="block text-sm font-medium leading-6 text-gray-900">Saision</label>
            <select data-model="edition" id="slc_edition">
                <option value="">-</option>
                {% for e in editionOptions %}
                    <option value="{{ e.id }}">{{ e.name }}</option>
                {% endfor %}
            </select>
        </div>

    </div>

    {% if edition is null or edition.id is null %}

        <twig:Admin:Alert class="mt-10" type="info"
                          message="Bitte wählen Sie eine Saision aus, für die Sie die Zulassungsbescheide versenden wollen."/>

    {% else %}

        <div class="mt-10">

            {% if attendances is empty %}
                <twig:Admin:Alert type="confirm"
                                  message="Alle Teilnehmer:innen wurden bereits über Ihre Teilnahme informiert. Das ist sehr gut!"/>

            {% else %}

                <div class="mb-2 border-t border-gray-200 pt-6">
                    <h3 class="text-lg font-medium text-gray-900">
                        Zulassungsbescheide verschicken
                    </h3>
                    <div class="text-gray-500 text-base text-sm mt-1">
                        <p>Diese Eltern erhalten eine E-Mail.</p>
                    </div>
                </div>
                <div class="flex flex-col my-8">
                    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                        <div class="align-middle inline-block min-w-full overflow-hidden">
                            <table class="min-w-full">
                                <thead>
                                <tr>
                                    <th class="px-3 py-3 border-b border-gray-200 text-left text-sm leading-4 font-semibold text-gray-700 uppercase tracking-wider">
                                        E-Mail
                                    </th>
                                    <th class="px-3 py-3 border-b border-gray-200 text-left text-sm leading-4 font-semibold text-gray-700 uppercase tracking-wider">
                                        Teilnehmer:in
                                    </th>
                                    <th class="px-3 py-3 border-b border-gray-200 text-left text-sm leading-4 font-semibold text-gray-700 uppercase tracking-wider">
                                        Angebot
                                    </th>
                                    <th class="px-3 py-3 border-b border-gray-200 text-left text-sm leading-4 font-semibold text-gray-700 uppercase tracking-wider">
                                        Status
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for emailAddress, attendancesPerParticipant in attendances %}
                                    {% for participantId, attendancesOfParticipant in attendancesPerParticipant %}
                                        {% set isFirstEmail = loop.first %}
                                        {% for attendance in attendancesOfParticipant %}
                                            <tr>
                                                {% if loop.first and isFirstEmail %}
                                                    <td class="px-3 py-4 align-top whitespace-no-wrap border-b border-gray-200"
                                                        rowspan="{{ attendancesPerParticipant|reduce((c, v) => c + v|length, 0) }}">
                                                        <div class="text-sm leading-5 font-medium text-gray-900">
                                                            {{ emailAddress }}
                                                        </div>
                                                    </td>
                                                {% endif %}

                                                {% if loop.first %}
                                                    <td class="px-3 py-4 align-top whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-700"
                                                        rowspan="{{ attendancesOfParticipant|length }}">
                                                        {{ attendance.participant.name }}
                                                    </td>
                                                {% endif %}

                                                <td class="px-3 py-4 whitespace-no-wrap border-b border-gray-200">
                                                    <div class="flex items-center">
                                                        <div>
                                                            <div class="text-sm leading-5 text-gray-900">{{ attendance.offer.name }}
                                                                <span class="text-gray-500">#{{ attendance.id }}</span>
                                                            </div>
                                                            <div class="text-sm leading-5 text-gray-500">
                                                                {% if attendance.offer.dates is not empty %}
                                                                    {{ offer_macro.date_single(attendance.offer.dates|first) }}
                                                                {% else %}
                                                                    Dauerangebot
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div>
                                                            {% if attendance.offer.cancelled %}
                                                                {{ partials.badge_red('abgesagt', "xs", "ml-2") }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </td>

                                                <td class="px-3 py-4 whitespace-no-wrap border-b border-gray-200 align-top">
                                                    {{ partials.status_badge(attendance.status, "sm") }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if attendances is not empty %}
                <div class="bg-white shadow sm:rounded-lg max-w-2xl my-8">
                    <div class="px-4 py-5 sm:p-6">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            Ready, steady, go!
                        </h3>
                        <div class="mt-2 max-w-xl text-sm leading-5 text-gray-500">
                            <p>Wir verschicken {{ attendances|length }} E-Mails. Bereit, wenn Sie es
                                sind!</p>
                        </div>
                        <div class="mt-5">
                            <span class="inline-flex rounded-md shadow-sm">
                                <button type="button"
                                        data-action="live#action"
                                        data-live-action-param="submit"
                                        class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-primary-600 hover:bg-primary-500 focus:outline-none focus:border-primary-700 focus:shadow-outline-primary active:bg-primary-700 transition ease-in-out duration-150">
                                    Benachrichtigungen verschicken
                                </button>
                            </span>
                        </div>
                    </div>


                </div>
            {% endif %}
        </div>

    {% endif %}

    {% component "Admin:Modal" %}
        {% block content %}

            <div class="overflow-hidden">
                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">
                    E-Mail-Versand starten
                </h3>
                <div class="mt-2scroll">
                    <p class="text-sm text-gray-500">Sind Sie sicher, dass Sie die {{ attendances|length }} E-Mails versenden wollen?</p>
                </div>
            </div>
            <div class="mt-4 sm:flex sm:flex-row-reverse">
                <button type="button"
                        data-action="live#action:prevent"
                        data-live-action-param="send"
                        class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">
                    E-Mails versenden
                </button>
                <button type="button"
                        data-action="live#action:prevent"
                        data-live-action-param="cancel"
                        class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
                    Abbrechen
                </button>
            </div>

        {% endblock %}
    {% endcomponent %}

</div>
