<div class="max-w-5xl mx-auto mb-10 px-4 sm:px-6 lg:px-8">

    {% include '@FerienpassCore/Component/divider_title_left.html.twig' with { title: "Angebote filtern" } %}

    <div class="mt-2 sm:flex items-center sm:space-x-6 space-y-4 sm:space-y-0">
        <div>
            {{ form_start(shortForm) }}

            <div class="">
                {{ form_row(shortForm.favorites) }}
            </div>

            {{ form_end(shortForm) }}
        </div>

        <div>
            {% embed "@FerienpassCore/UiComponent/slide_over.html.twig" with {title: "Angeote filtern…"} %}
                {% block toggle %}

                    <button type="button"
                            @click="open = true"
                            class="inline-flex items-center pl-3 pr-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        <span class="block h-5 w-5 mr-1">{{ source('@FerienpassCore/Icons/filter-outline.svg') }}</span>
                        Weitere Filter…
                    </button>

                {% endblock %}

                {% block content %}

                    {{ form_start(fullForm) }}

                    <div class="grid gap-3 grid-cols-2">

                        <div class="col-span-2">
                            {{ form_label(fullForm.name, null, { label_attr: { class: '!text-xs !font-semibold'} }) }}
                            {{ form_widget(fullForm.name) }}
                        </div>

                        <div class="w-24">
                            {{ form_label(fullForm.age, null, { label_attr: { class: '!text-xs !font-semibold'} }) }}
                            {{ form_widget(fullForm.age) }}
                        </div>
                        <div class="w-24">
                            {{ form_label(fullForm.fee, null, { label_attr: { class: '!text-xs !font-semibold'} }) }}
                            {{ form_widget(fullForm.fee) }}
                        </div>

                        <div>
                            {{ form_label(fullForm.earliest_date, null, { label_attr: { class: '!text-xs !font-semibold'} }) }}
                            {{ form_widget(fullForm.earliest_date) }}
                        </div>
                        <div>
                            {{ form_label(fullForm.latest_date, null, { label_attr: { class: '!text-xs !font-semibold'} }) }}
                            {{ form_widget(fullForm.latest_date) }}
                        </div>

                        <div class="mt-6">
                            {{ form_row(fullForm.favorites) }}
                        </div>
                    </div>

                    {{ form_end(fullForm) }}

                {% endblock %}
            {% endembed %}
        </div>
    </div>

</div>
