{% extends '@FerienpassCore/Fragment/user_account/_base.html.twig' %}

{% block main %}
<div>

    {{ form_start(form) }}

    <div class="divide-y space-y-6">

        <div>
            <div>
                <h2 class="text-lg leading-6 font-medium text-gray-900">Passwort ändern</h2>
                <p class="mt-1 text-sm text-gray-500">Ändern Sie Ihr Passwort.</p>
            </div>

            <div class="mt-6 grid gap-6 sm:grid-cols-6">
                <div class="sm:col-span-4">
                    {{ form_row(form.oldPassword) }}
                </div>
                {% for field in form.password %}
                    <div class="sm:col-span-3">
                        {{ form_row(field) }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div>
            <div class="mt-6 flex justify-end">
                {{ form_row(form.submit) }}
            </div>
        </div>

    </div>

    {{ form_end(form) }}

</div>
{% endblock %}
