<div class="relative bg-white">
    <div class="absolute inset-0">
        <div class="absolute inset-y-0 left-0 w-1/2 bg-gray-50"></div>
    </div>
    <div class="relative max-w-7xl mx-auto lg:grid lg:grid-cols-5">
        <div class="bg-gray-50 py-16 px-4 sm:px-6 lg:col-span-2 lg:px-8 lg:py-24 xl:pr-12">
            <div class="max-w-lg mx-auto">

                <div class="text-lg text-gray-500">
                    <h1 class="mb-3">Passwort vergessen?</h1>
                    {% if form.email is defined %}
                        <p>
                            Das kann ja mal passieren! Schicken Sie das Formular ab und wir senden Ihnen einen
                            Link zum Zurücksetzen des Passwortes zu.
                        </p>
                    {% elseif form.password is defined %}
                        <p>
                            Bitte setzen Sie nun ein neues Passwort.
                            <a class="underline hover:no-underline"
                               href="https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Informationen-und-Empfehlungen/Cyber-Sicherheitsempfehlungen/Accountschutz/Sichere-Passwoerter-erstellen/sichere-passwoerter-erstellen_node.html"
                               target="_blank">Wie Sie ein sicheres Passwort erstellen.</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="bg-white py-16 px-4 sm:px-6 lg:col-span-3 lg:py-24 lg:px-8 xl:pl-12">
            <div class="max-w-lg mx-auto lg:max-w-none">
                <div class="max-w-sm">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="space-y-6">
                        {% if form.email is defined %}
                            {{ form_row(form.email) }}
                        {% endif %}

                        {% if form.password is defined %}
                            {{ form_row(form.password) }}
                        {% endif %}

                        {{ form_rest(form) }}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
</div>