{% macro figure(label, number, number_preceding=null) %}
    <div class="px-4 py-5 sm:p-6">
        <dt class="text-base font-normal text-gray-900">{{ label }}</dt>
        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-primary-600">
                <span>{{ number }}</span>
                {% if number_preceding is not null %}
                    <span class="ml-2 text-sm font-medium text-gray-500">von {{ number_preceding }} im Vorjahr</span>
                {% endif %}
            </div>

            {% if number_preceding is not null and number > 0 %}
                {% set change = ((number - number_preceding) / number_preceding) * 100 %}
                {% if change < 0 %}
                    <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800 md:mt-2 lg:mt-0">
                        <span class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-red-500">{{ source('@FerienpassCore/Icons/arrow-sm-down-solid.svg') }}</span>
                        <span class="sr-only">Verringert um</span>
                        {{ change|round~'%' }}
                    </div>
                {% else %}
                    <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800 md:mt-2 lg:mt-0">
                        <span class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-green-500">{{ source('@FerienpassCore/Icons/arrow-sm-up-solid.svg') }}</span>
                        <span class="sr-only">Vergrößert um</span>
                        {{ change|round~'%' }}
                    </div>
                {% endif %}
            {% endif %}
        </dd>
    </div>
{% endmacro %}

<div>
    <h3 class="text-lg leading-6 font-medium text-gray-900">Zahlen und Fakten </h3>
    <dl class="mt-5 grid grid-cols-1 rounded-lg bg-white overflow-hidden shadow divide-y divide-gray-200 md:grid-cols-3 md:divide-y-0 md:divide-x">
        {{ _self.figure('Kinder', count_participants, count_participants_preceding) }}
        {{ _self.figure('Termine', count_offers, count_offers_preceding) }}
        {{ _self.figure('Angebote', count_offers_no_variants, count_offers_no_variants_preceding) }}
        {{ _self.figure('Veranstalter mit Angebot', count_hosts, count_hosts_preceding) }}
        {{ _self.figure('Anmeldungen', count_attendances, count_attendances_preceding) }}
    </dl>
</div>
