{% extends "@FerienpassAdmin/layout/list.html.twig" %}
{% trans_default_domain 'admin' %}
{% set translationPrefix = app.request.get('_route')|split('_')[1] %}
{% set action = app.request.get('_route')|split('_')[2] %}
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}

{% block list %}

    {% if 'ROLE_HOST' == role %}
        {% set columns = {
            name: '
            <span class="flex items-center">
              <span>{{ item.name }}</span>
              {% if item.disabled %}
                <span class="ml-1 w-2.5 h-2.5 inline-block bg-red-600 dark:bg-red-600/80 rounded-full" aria-hidden="true"></span>
              {% endif %}
            </span>
',
            email: '{{ item.email }}',
            hosts: '{{ item.hosts|map(u => "#{u.name}")|join(", ") }}'
        } %}
    {% elseif 'ROLE_MEMBER' == role %}
        {% set columns = {
            name: '
            <span class="flex items-center">
              <span>{{ item.name }}</span>
              {% if item.disabled %}
                <span class="ml-1 w-2.5 h-2.5 inline-block bg-red-600 rounded-full" aria-hidden="true"></span>
              {% endif %}
            </span>
',
            email: '{{ item.email }}',
            participants: '{{ item.participants|map(u => "#{u.name}")|join(", ") }}'
        } %}
    {% elseif 'ROLE_ADMIN' == role %}
        {% set columns = {
            name: '
            <span class="flex items-center">
              <span>{{ item.name }}</span>
              {% if item.disabled %}
                <span class="ml-1 w-2.5 h-2.5 inline-block bg-red-600 rounded-full" aria-hidden="true"></span>
              {% endif %}
            </span>
',
            email: '{{ item.email }}',
            roles: '
            {% if "ROLE_SUPER_ADMIN" in item.roles %}
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 dark:bg-red-800/80 text-red-800 dark:text-red-100/80">{{ "accounts.td.role.ROLE_SUPER_ADMIN"|trans([], "admin") }}</span>
            {% else %}
            {% for role in item.roles|filter((role) => role in ["ROLE_CMS_ADMIN", "ROLE_PAYMENTS_ADMIN", "ROLE_PARTICIPANTS_ADMIN"]) %}
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 dark:bg-blue-800/80 text-blue-800 dark:text-blue-100/80">{{ ("accounts.td.role."~role)|trans([], "admin") }}</span>
            {% endfor %}
            {% endif %}
'
        } %}
    {% endif %}

    {{ component('Admin:SearchableQueryableList', {
        qb: qb,
        filterType: filterType,
        routeName: app.request.get('_route'),
        routeParameters: app.request.query.all,
        searchable: searchable,
        config: {
            columns: columns
        },

    }) }}
{% endblock %}
