{% extends "@FerienpassAdmin/layout/base.html.twig" %}
{% trans_default_domain 'admin' %}

{% block main %}

    <h1>{{ 'eraseData.title'|trans }}</h1>

    {% if participants is empty %}

        <twig:Admin:Alert class="mt-6" type="error" message="eraseData.empty"/>

    {% else %}

        <div class="mt-6 bg-white shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:p-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    {{ 'eraseData.cta.headline'|trans }}
                </h3>

                <div class="mt-2 max-w-xl text-sm leading-5 text-gray-500">
                    <p>{{ 'eraseData.cta.text'|trans({count: participants|length}) }}</p>
                </div>

                <div class="mt-5">

                    {{ form_start(form) }}
                    <button type="submit"
                            class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-50 focus:outline-none focus:border-red-300 focus:shadow-outline-red active:bg-red-200 transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                        {{ 'eraseData.cta.button'|trans }}
                    </button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>

        <div class="mt-8">
            <table class="w-full">
                <thead>
                <tr>
                    <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-sm leading-4 font-medium text-gray-900">
                        {{ 'eraseData.name'|trans }}
                    </th>
                    <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-sm leading-4 font-medium text-gray-900">
                        {{ 'eraseData.latestAttendance'|trans }}
                    </th>
                    <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-sm leading-4 font-medium text-gray-900">
                        {{ 'eraseData.countAttendances'|trans }}
                    </th>
                    <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-sm leading-4 font-medium text-gray-900">
                        {{ 'eraseData.user'|trans }}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for participant in participants %}
                    <tr class="border-t border-gray-200">
                        <td class="px-4 py-2">
                            <p class="text-sm leading-5 font-medium text-gray-700">
                                {{ participant.name }}
                            </p>
                        </td>
                        <td class="px-4 py-2">
                            <p class="text-sm leading-5 font-medium text-gray-500">
                                {% set attendance = participant.lastAttendance %}
                                {{ (attendance and attendance.offer.edition) ? attendance.offer.edition.name : '-' }}
                            </p>
                        </td>
                        <td class="px-4 py-2">
                            <p class="text-sm leading-5 font-medium text-gray-500">
                                {{ participant.attendances|length }}
                            </p>
                        </td>
                        <td class="px-4 py-2">
                            <p class="text-sm leading-5 font-medium text-gray-500">
                                {{ participant.user ? participant.user.name : '-' }}
                            </p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}