{% extends "@FerienpassAdmin/layout/base.html.twig" %}
{% trans_default_domain 'admin' %}

{% block main %}


    <div class="">
        <table class="w-full">
            <thead>
            <tr>
                <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                </th>
                <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Ereignis
                </th>
                <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Nutzer:in
                </th>
                <th class="px-4 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Ausgelöst
                </th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr class="border-t border-gray-200">
                    {% set message = event.message|split('\\')|last %}
                    <td class="px-2 py-2">
                        {% if message == 'AccountCreated' or message == 'AttendanceCreated' %}
                            <p class="uppercase inline-flex items-center px-2 py-0.5 rounded-full text-xs font-medium leading-4 bg-yellow-100 text-yellow-800">
                                Neu</p>
                        {% else %}
                            <p class="uppercase inline-flex items-center px-2 py-0.5 rounded-full text-xs font-medium leading-4 bg-blue-100 text-blue-800">
                                Info</p>
                        {% endif %}
                    </td>
                    <td class="px-2 py-2">
                        <p class="text-sm leading-5 font-medium text-gray-500">
                            {% set label = 'eventLog.message.'~message %}
                            {{ label|trans }}
                        </p>
                    </td>
                    <td class="px-2 py-2">
                        {% if event.user|default %}
                            <p class="text-xs text-gray-500 font-medium truncate">
                                <span class="inline-flex items-center justify-center h-6 w-6 rounded-full bg-gray-400">
                                    <span class="text-xs font-medium leading-none text-white">{{ 'AB' }}</span>
                                </span>
                                <span class="font-medium text-xs text-gray-500">{{ event.user }}</span>
                            </p>
                        {% else %}
                            <span class="font-medium text-xs text-gray-500">-</span>
                        {% endif %}
                    </td>
                    <td class="px-2 py-2">
                        <p class="text-xs text-gray-500 font-medium flex items-center truncate">
                            <svg class="w-4 h-4 mr-1" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                                <path d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            {{ event.createdAt|ago }}
                        </p>
                    </td>
                </tr>
                {% for notification in event.notifications %}
                    <tr>
                        <td></td>
                        <td class="pb-1 px-2">
                           {# {% set messageType = notification.message.gateway_type %}
                            <div class="text-sm leading-5 text-gray-900 grid grid-cols-8">
                                <p>
                                    {% set label = 'eventLog.notification.'~messageType~'.label' %}
                                    <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium leading-4 bg-gray-100 text-gray-800">{{ label|trans }}</span>
                                </p>
                                <p class="col-span-4">
                                    {% set label = 'eventLog.notification.'~messageType~'.description' %}
                                    {{ label|trans({email:notification.tokens.participant_email|default}) }}
                                </p>
                                <p class="truncate col-span-2 flex items-center text-gray-700 text-xs font-medium">
                                    <span class="inline-block h-6 w-6 mr-1 rounded-full overflow-hidden bg-gray-100">
                                        <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                                            <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"/>
                                        </svg>
                                    </span>
                                    {{ notification.tokens.participant_firstname|default ~' '~notification.tokens.participant_lastname|default }}
                                </p>
                            </div>#}

                        </td>
                        <td></td>
                        <td class="pb-1 px-2">
                            <p class="text-xs text-gray-500 font-medium flex items-center">
                                <svg class="w-4 h-4 mr-1" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                     stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                                    <path d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                {{ notification.createdAt|ago }}
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

        <div class="mt-6 px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
            <div class="flex-1 flex justify-between sm:hidden">
                <a href="#"
                   class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                    Previous
                </a>
                <a href="#"
                   class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                    Next
                </a>
            </div>
            <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                <div>
                    <p class="text-sm leading-5 text-gray-700">
                        Showing
                        <span class="font-medium">1</span>
                        to
                        <span class="font-medium">10</span>
                        of
                        <span class="font-medium">97</span>
                        results
                    </p>
                </div>
                <div>
                    <nav class="relative z-0 inline-flex shadow-sm">
                        <button type="button"
                                class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150"
                                aria-label="Previous">
                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                      d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </button>
                        <button type="button"
                                class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                            1
                        </button>
                        <button type="button"
                                class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                            2
                        </button>
                        <button type="button"
                                class="hidden md:inline-flex -ml-px relative items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                            3
                        </button>
                        <span class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700">
                            ...
                        </span>
                        <button type="button"
                                class="hidden md:inline-flex -ml-px relative items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                            8
                        </button>
                        <button type="button"
                                class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                            9
                        </button>
                        <button type="button"
                                class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                            10
                        </button>
                        <button type="button"
                                class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150"
                                aria-label="Next">
                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>

{% endblock %}