{% extends "@FerienpassAdmin/layout/base.html.twig" %}
{% trans_default_domain 'admin' %}

{% block main %}

    <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-gray-200 dark:bg-gray-950 shadow sm:grid sm:grid-cols-2 sm:gap-px sm:divide-y-0">
        <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none group relative bg-white dark:bg-gray-900/50 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
            <div>
                <span class="inline-flex rounded-lg p-3 bg-teal-50 dark:bg-teal-900/50 text-teal-700 dark:text-teal-400/50">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                         aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                </span>
            </div>
            <div class="mt-8">
                <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-100/90">
                    <a href="{{ path('admin_editions_index') }}" class="focus:outline-none">
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        Saisons konfigurieren
                    </a>
                </h3>
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-100/50">Hier erstellen Sie neue Ferienpass-Programme
                    und konfigurieren die
                    Zeiträume.</p>
            </div>
            <span class="pointer-events-none absolute right-6 top-6 text-gray-300 dark:text-gray-100/10 group-hover:text-gray-400 dark:group-hover:text-gray-100/20"
                  aria-hidden="true">
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"/>
                </svg>
            </span>
        </div>
        <div class="sm:rounded-tr-lg group relative bg-white dark:bg-gray-900/50 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
            <div>
                <span class="inline-flex rounded-lg p-3 bg-purple-50 dark:bg-purple-900/50 text-purple-700 dark:text-purple-400/50">
                    <span class="h-6 w-6">{{ source('@FerienpassAdmin/icons/document-arrow-down.outline.svg') }}</span>
                </span>
            </div>
            <div class="mt-8">
                <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-100/90">
                    <a href="{{ path('admin_export_index') }}" class="focus:outline-none">
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        Export
                    </a>
                </h3>
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-100/50">Hier können Sie die Ferienpass-Angebote in
                    diversen Formate
                    exportieren (Word, PDF, Excel).</p>
            </div>
            <span class="pointer-events-none absolute right-6 top-6 text-gray-300 dark:text-gray-100/10 group-hover:text-gray-400 dark:group-hover:text-gray-100/20"
                  aria-hidden="true">
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"/>
                </svg>
            </span>
        </div>
        <div class="group relative bg-white dark:bg-gray-900/50 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
            <div>
                <span class="inline-flex rounded-lg p-3 bg-sky-50 dark:bg-sky-900/50 text-sky-700 dark:text-sky-400/50">
                    <span class="h-6 w-6">{{ source('@FerienpassAdmin/icons/envelope.outline.svg') }}</span>
                </span>
            </div>
            <div class="mt-8">
                <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-100/90">
                    <a href="{{ path('admin_notifications') }}" class="focus:outline-none">
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        System-Benachrichtigungen
                    </a>
                </h3>
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-100/50">Bearbeiten Sie die Nachrichten, die
                    systemseitig versandt
                    werden.</p>
            </div>
            <span class="pointer-events-none absolute right-6 top-6 text-gray-300 dark:text-gray-100/10 group-hover:text-gray-400 dark:group-hover:text-gray-100/20"
                  aria-hidden="true">
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"/>
                </svg>
            </span>
        </div>
        <div class="group relative bg-white dark:bg-gray-900/50 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
            <div>
                <span class="inline-flex rounded-lg p-3 bg-sky-50 dark:bg-sky-900/50 text-sky-700 dark:text-sky-400/50">
                    <span class="h-6 w-6">{{ source('@FerienpassAdmin/icons/paper-airplane.outline.svg') }}</span>
                </span>
            </div>
            <div class="mt-8">
                <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-100/90">
                    <a href="{{ path('admin_tools_mailing') }}" class="focus:outline-none">
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        Rundmail
                    </a>
                </h3>
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-100/50">Hier können Sie eine Massenmail
                    versenden.</p>
            </div>
            <span class="pointer-events-none absolute right-6 top-6 text-gray-300 dark:text-gray-100/10 group-hover:text-gray-400 dark:group-hover:text-gray-100/20"
                  aria-hidden="true">
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"/>
                </svg>
            </span>
        </div>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="group relative bg-white dark:bg-gray-900/50 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
                <div>
                    <span class="inline-flex rounded-lg p-3 bg-sky-50 dark:bg-sky-900/50 text-sky-700 dark:text-sky-400/50">
                        <span class="h-6 w-6">{{ source('@FerienpassAdmin/icons/bell.outline.svg') }}</span>
                    </span>
                </div>
                <div class="mt-8">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-100/90">
                        <a href="{{ path('admin_outbox') }}" class="focus:outline-none">
                            <span class="absolute inset-0" aria-hidden="true"></span>
                            {{ 'outbox.title'|trans }}
                        </a>
                    </h3>
                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-100/50">Vom System gesendete Nachrichten.</p>
                </div>
                <span class="pointer-events-none absolute right-6 top-6 text-gray-300 dark:text-gray-100/10 group-hover:text-gray-400 dark:group-hover:text-gray-100/20"
                      aria-hidden="true">
                    <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"/>
                    </svg>
                </span>
            </div>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="group relative bg-white dark:bg-gray-900/50 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
                <div>
                    <span class="inline-flex rounded-lg p-3 bg-indigo-50 dark:bg-indigo-900/50 text-indigo-700 dark:text-indigo-400/50">
                        <span class="h-6 w-6">{{ source('@FerienpassAdmin/icons/wrench.outline.svg') }}</span>
                    </span>
                </div>
                <div class="mt-8">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-100/90">
                        <a href="{{ path('admin_tools_settings') }}" class="focus:outline-none">
                            <span class="absolute inset-0" aria-hidden="true"></span>
                            {{ 'settings.title'|trans }}
                        </a>
                    </h3>
                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-100/50">Sonstige Einstellungen.</p>
                </div>
                <span class="pointer-events-none absolute right-6 top-6 text-gray-300 dark:text-gray-100/10 group-hover:text-gray-400 dark:group-hover:text-gray-100/20"
                      aria-hidden="true">
                    <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"/>
                    </svg>
                </span>
            </div>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="group relative bg-white dark:bg-gray-900/50 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
                <div>
                    <span class="inline-flex rounded-lg p-3 bg-rose-50 dark:bg-rose-900/50 text-rose-700 dark:text-rose-400/50">
                        <span class="h-6 w-6">{{ source('@FerienpassAdmin/icons/identification.outline.svg') }}</span>
                    </span>
                </div>
                <div class="mt-8">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-100/90">
                        <a href="{{ path('admin_tools_subjectrights') }}" class="focus:outline-none">
                            <span class="absolute inset-0" aria-hidden="true"></span>
                            Betroffenenrechte (DSGVO)
                        </a>
                    </h3>
                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-100/50">Hier können Sie Recht auf Löschung und
                        Recht auf Auskunft
                        umsetzen.</p>
                </div>
                <span class="pointer-events-none absolute right-6 top-6 text-gray-300 dark:text-gray-100/10 group-hover:text-gray-400 dark:group-hover:text-gray-100/20"
                      aria-hidden="true">
                    <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"/>
                    </svg>
                </span>
            </div>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="group relative bg-white dark:bg-gray-900/50 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
                <div>
                    <span class="inline-flex rounded-lg p-3 bg-rose-50 dark:bg-rose-900/50 text-rose-700 dark:text-rose-400/50">
                        <span class="h-6 w-6">{{ source('@FerienpassAdmin/icons/trash.outline.svg') }}</span>
                    </span>
                </div>
                <div class="mt-8">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-100/90">
                        <a href="{{ path('admin_erase_data') }}" class="focus:outline-none">
                            <span class="absolute inset-0" aria-hidden="true"></span>
                            Daten löschen
                        </a>
                    </h3>
                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-100/50">Hier können Sie Recht auf Löschung und
                        Recht auf Auskunft
                        umsetzen.</p>
                </div>
                <span class="pointer-events-none absolute right-6 top-6 text-gray-300 dark:text-gray-100/10 group-hover:text-gray-400 dark:group-hover:text-gray-100/20"
                      aria-hidden="true">
                    <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"/>
                    </svg>
                </span>
            </div>
        {% endif %}
    </div>

{% endblock %}