{{ form_start(form) }}

<div class="sticky z-10 top-0 bg-white dark:bg-gray-900 border-b border-gray-300 shadow-sm py-4 px-4 sm:px-6 md:px-8 lg:px-16">

    <div>
        <a class="flex items-center text-sm leading-5 font-medium text-gray-500 hover:text-gray-700 focus:outline-none focus:underline transition duration-150 ease-in-out"
           href="{{ path('host_offer_list') }}">
            <span class="flex-shrink-0 -ml-1 mr-1 h-5 w-5 text-gray-400">{{ source('@FerienpassHostPortal/icons/chevron-left-solid.svg') }}</span>
            Zurück
        </a>
    </div>
    <div class="mt-2 md:flex md:items-center md:justify-between">
        <div class="flex-1 min-w-0">
            <h2 class="text-2xl font-bold leading-7 text-gray-900 dark:text-gray-50 sm:text-3xl sm:leading-9 sm:truncate">{{ offer.name|default('Neues Angebot') }}</h2>
            {% if not offer.id %}
                <p class="text-xl text-gray-500 font-semibold">(noch nicht gespeichert)</p>
            {% endif %}
        </div>
        <div class="mt-5 flex md:flex-row-reverse md:mt-0 md:ml-4">
            {{ form_widget(form.submit) }}
        </div>
    </div>

</div>

<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 lg:px-12 py-4 sm:py-6 md:py-12 lg:px-16">
    {% block main %}

        {% if not offer.isVariantBase %}
            <div class="mb-12">
                {% embed '@FerienpassHostPortal/components/alert/info.html.twig' %}
                    {% block message %}
                        <span>
                            Sie bearbeiten eine Variante von <a class="underline hover:no-underline"
                                                                href="{{ path(app.request.get('_route'), {'id':offer.variantBase.id}) }}">
                                Angebot ID {{ offer.variantBase.id }}</a> und können deswegen nicht alle Felder
                            bearbeiten.
                        </span>
                    {% endblock %}
                {% endembed %}
            </div>
        {% endif %}


        {% for error in form.errors(true)|default %}
            <div class="space-y-4">
                {% include '@FerienpassHostPortal/components/alert/error.html.twig' with {'message': error.message} %}
            </div>
        {% endfor %}


        <div class="space-y-10">


        {% embed '@FerienpassHostPortal/fragment/_fieldset.html.twig' with {
            'headline': 'Offer.title_legend'|trans,
            'caption': 'Offer.title_help'|trans
        } %}
            {% block fields %}

                <div class="col-span-4">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-span-6">
                    {{ form_row(form.description) }}
                </div>
                <div class="col-span-6">
                    {{ form_row(form.categories) }}
                </div>

            {% endblock %}
        {% endembed %}


        {% embed '@FerienpassHostPortal/fragment/_fieldset.html.twig' with {
            'headline': 'Offer.date_legend'|trans,
            'caption': 'Offer.date_help'|trans
        } %}
            {% block fields %}

                <div class="col-span-5">
                    {{ form_row(form.dates) }}
                </div>
                <div class="col-span-2">
                    {{ form_row(form.applicationDeadline) }}
                </div>

            {% endblock %}
        {% endembed %}


        {% embed '@FerienpassHostPortal/fragment/_fieldset.html.twig' with {
            'headline': 'Offer.details_legend'|trans,
            'caption': 'Offer.details_help'|trans
        } %}
            {% block fields %}

                <div class="col-span-2">
                    {{ form_row(form.minAge) }}
                </div>
                <div class="col-span-2">
                    {{ form_row(form.maxAge) }}
                </div>
                <div class="col-span-3">
                    {{ form_row(form.meetingPoint) }}
                </div>
                <div class="col-span-3">
                    {{ form_row(form.bring) }}
                </div>
                <div class="col-start-1 col-span-2">
                    {{ form_row(form.fee) }}
                </div>
                <div class="col-start-1 col-span-2">
                    {{ form_row(form.wheelchairAccessible) }}
                </div>

            {% endblock %}
        {% endembed %}


        {% embed '@FerienpassHostPortal/fragment/_fieldset.html.twig' with {
            'headline': 'Offer.applications_legend'|trans,
            'caption': 'Offer.applications_help'|trans
        } %}
            {% block fields %}

                <div class="col-span-5">
                    {{ form_row(form.requiresApplication) }}
                </div>
                <div class="col-span-5">
                    {{ form_row(form.onlineApplication) }}
                </div>

                <div class="col-span-2">
                    {{ form_row(form.minParticipants) }}
                </div>
                <div class="col-span-2">
                    {{ form_row(form.maxParticipants) }}
                </div>

                <div class="col-span-3">
                    {{ form_row(form.applyText) }}
                </div>
                <div class="col-span-3">
                    {{ form_row(form.contact) }}
                </div>

            {% endblock %}
        {% endembed %}

        {% embed '@FerienpassHostPortal/fragment/_fieldset.html.twig' with {
            'headline': 'Offer.applications_legend'|trans,
            'caption': 'Offer.applications_help'|trans
        } %}
            {% block fields %}

                {% if offer.image is not empty %}
                    <div class="col-span-6">
                        <h4 class="text-gray-500 uppercase tracking-wide text-sm">Aktuelles Bild</h4>
                        <div class="mt-1 mb-4 bg-gray-100 border-2 border-dashed px-6 py-4">
                            {{ contao_figure(offer.image, '_host_details_logo') }}
                        </div>
                    </div>
                {% endif %}

                <div class="col-span-3">
                    {{ form_widget(form.image) }}
                </div>
                <div class="col-span-4">
                    {{ form_row(form.imgCopyright) }}
                </div>
                </div>

            {% endblock %}
        {% endembed %}


        {# render widgets that do not belong to a fieldset (if any) #}
        {{ form_rest(form) }}

    {% endblock main %}
</div>

{{ form_end(form) }}
